[{
  "relation": ["delegate_permission/common.handle_all_urls"],
  "target": {
    "namespace": "android_app",
    "package_name": "${WELL_KNOWN_ANDROID_PACKAGE_NAME}",
    "sha256_cert_fingerprints":
    ["${WELL_KNOWN_ANDROID_FINGERPRINT}"]
  }
}]