/** IMPORTS */
/* General Mixins */
/*Media Query Breakpoints*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i");
@font-face {
  font-family: "FrutigerLTW01-76BlackItalic";
  src: url("fonts/FrutigerLTW01-76BlackItalic.eot?#iefix");
  src: url("fonts/FrutigerLTW01-76BlackItalic.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-76BlackItalic.woff2") format("woff2"), url("fonts/FrutigerLTW01-76BlackItalic.woff") format("woff"), url("fonts/FrutigerLTW01-76BlackItalic.ttf") format("truetype"), url("fonts/FrutigerLTW01-76BlackItalic.svg#24df08f2-b418-49de-8eca-745947092d72") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-65Bold";
  src: url("fonts/FrutigerLTW01-65Bold.eot?#iefix");
  src: url("fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-65Bold.woff2") format("woff2"), url("fonts/FrutigerLTW01-65Bold.woff") format("woff"), url("fonts/FrutigerLTW01-65Bold.ttf") format("truetype"), url("fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-45Light";
  src: url("fonts/FrutigerLTW01-45Light.eot?#iefix");
  src: url("fonts/FrutigerLTW01-45Light.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-45Light.woff2") format("woff2"), url("fonts/FrutigerLTW01-45Light.woff") format("woff"), url("fonts/FrutigerLTW01-45Light.ttf") format("truetype"), url("fonts/FrutigerLTW01-45Light.svg#29f3ff8a-1719-4e25-a757-53ee1a1114a5") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-66BoldItalic";
  src: url("fonts/FrutigerLTW01-66BoldItalic.eot?#iefix");
  src: url("fonts/FrutigerLTW01-66BoldItalic.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-66BoldItalic.woff2") format("woff2"), url("fonts/FrutigerLTW01-66BoldItalic.woff") format("woff"), url("fonts/FrutigerLTW01-66BoldItalic.ttf") format("truetype"), url("fonts/FrutigerLTW01-66BoldItalic.svg#8ad009ab-a7e5-4acb-8ca5-326d2a759924") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-55Roman";
  src: url("fonts/FrutigerLTW01-55Roman.eot?#iefix");
  src: url("fonts/FrutigerLTW01-55Roman.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-55Roman.woff2") format("woff2"), url("fonts/FrutigerLTW01-55Roman.woff") format("woff"), url("fonts/FrutigerLTW01-55Roman.ttf") format("truetype"), url("fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-95UltraBlack";
  src: url("fonts/FrutigerLTW01-95UltraBlack.eot?#iefix");
  src: url("fonts/FrutigerLTW01-95UltraBlack.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-95UltraBlack.woff2") format("woff2"), url("fonts/FrutigerLTW01-95UltraBlack.woff") format("woff"), url("fonts/FrutigerLTW01-95UltraBlack.ttf") format("truetype"), url("fonts/FrutigerLTW01-95UltraBlack.svg#3b96d0b6-5de6-4fb0-9884-b645e55d01c4") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-56Italic";
  src: url("fonts/FrutigerLTW01-56Italic.eot?#iefix");
  src: url("fonts/FrutigerLTW01-56Italic.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-56Italic.woff2") format("woff2"), url("fonts/FrutigerLTW01-56Italic.woff") format("woff"), url("fonts/FrutigerLTW01-56Italic.ttf") format("truetype"), url("fonts/FrutigerLTW01-56Italic.svg#141c0322-57c4-48ca-abb4-31688d659f7d") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-75Black";
  src: url("fonts/FrutigerLTW01-75Black.eot?#iefix");
  src: url("fonts/FrutigerLTW01-75Black.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-75Black.woff2") format("woff2"), url("fonts/FrutigerLTW01-75Black.woff") format("woff"), url("fonts/FrutigerLTW01-75Black.ttf") format("truetype"), url("fonts/FrutigerLTW01-75Black.svg#1c437efb-925e-4bc5-96d0-c706bb400696") format("svg"); }
@font-face {
  font-family: "FrutigerLTW01-46LightItalic";
  src: url("fonts/FrutigerLTW01-46LightItalic.eot?#iefix");
  src: url("fonts/FrutigerLTW01-46LightItalic.eot?#iefix") format("eot"), url("fonts/FrutigerLTW01-46LightItalic.woff2") format("woff2"), url("fonts/FrutigerLTW01-46LightItalic.woff") format("woff"), url("fonts/FrutigerLTW01-46LightItalic.ttf") format("truetype"), url("fonts/FrutigerLTW01-46LightItalic.svg#cd75c3e3-c5b7-4a25-9498-cabe4e8a9076") format("svg"); }
/** BUTTONS */
button.button,
a.button {
  display: block;
  font-family: "FrutigerLTW01-55Roman", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.125em;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 0.625em;
  background-color: #005EB8;
  border: none;
  border-radius: 0.125em;
  box-shadow: 0em 0.125em 0em 0em #003087;
  margin-bottom: 1.250em;
  outline: none;
  transition: all ease 0.5s;
  cursor: pointer; }
  @supports (-webkit-overflow-scrolling: touch) {
    button.button,
    a.button {
      letter-spacing: -0.063em; } }
  button.button.green,
  a.button.green {
    background-color: #007F3B;
    box-shadow: 0em 0.125em 0em 0em #005326; }
  button.button.grey,
  a.button.grey {
    background-color: #768692;
    box-shadow: 0em 0.125em 0em 0em #425563; }
  button.button.white,
  a.button.white {
    background-color: #ffffff;
    box-shadow: 0em 0.125em 0em 0em #768692;
    color: #425563; }
  button.button:active,
  a.button:active {
    -webkit-filter: brightness(120%);
    filter: brightness(120%); }
  button.button.disabled,
  a.button.disabled {
    opacity: 0.5; }

.float-buttons {
  position: fixed;
  bottom: 4.250em;
  left: 0em;
  right: 0em;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1em;
  border-top: 0.063em #f0f4f5 solid;
  border-bottom: 0.063em #f0f4f5 solid;
  height: 5em;
  transform: translateZ(1em);
  z-index: 5;
  box-shadow: 0em -0.1em 0.2em rgba(0, 0, 0, 0.1); }

/** APP */
footer {
  display: none; }

/** HEADER */
header.logged {
  background: #005EB8;
  color: #ffffff;
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  height: 6.250em;
  box-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.5);
  z-index: 4;
  box-sizing: border-box; }
  header.logged h1 {
    display: block;
    font-family: "FrutigerLTW01-45Light", Arial, sans-serif;
    font-weight: normal;
    font-size: 1.250em;
    line-height: 1.250em;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    width: 100%; }
    @supports (-webkit-overflow-scrolling: touch) {
      header.logged h1 {
        letter-spacing: -0.063em; } }
  header.logged .nhs_logo {
    margin: 1em;
    height: 1.375em;
    display: inline-block;
    cursor: pointer; }
  header.logged svg.account {
    margin: 1em;
    display: inline-block;
    height: 1.375em;
    position: fixed;
    right: 0em;
    top: 0em;
    cursor: pointer; }
  header.logged a.account {
    display: block;
    font-family: "FrutigerLTW01-45Light", Arial, sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.250em;
    color: #ffffff;
    margin: 1em;
    display: inline-block;
    height: 1.375em;
    position: absolute;
    right: 2.3em;
    line-height: 2.2em;
    cursor: pointer; }
    @supports (-webkit-overflow-scrolling: touch) {
      header.logged a.account {
        letter-spacing: -0.063em; } }
  header.logged hr {
    margin: 0em 1em 0.563em 1em;
    height: 0.063em;
    border: none;
    background-color: white;
    opacity: 0.25; }
  header.logged .breadcrumb {
    display: none; }
  header.logged .menu-web {
    display: none; }

header.slim {
  background: #005EB8;
  color: #ffffff;
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  height: 3.125em;
  box-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.5);
  z-index: 1000; }
  header.slim h1 {
    display: block;
    font-family: "FrutigerLTW01-45Light", Arial, sans-serif;
    font-weight: normal;
    font-size: 1.250em;
    line-height: 1.250em;
    color: #ffffff;
    text-align: center;
    margin-top: 0.750em;
    margin-right: 1.875em;
    margin-left: 1.875em; }
    @supports (-webkit-overflow-scrolling: touch) {
      header.slim h1 {
        letter-spacing: -0.063em; } }
  header.slim svg.back {
    margin: 1em;
    margin-top: 0.875em;
    height: 1.375em;
    float: left;
    position: fixed;
    top: 0em; }
  header.slim.cid {
    background-color: #eee; }

/* WEB MENU */
nav.menu-web-content {
  display: none; }

/** MENU */
nav.menu {
  background-color: #ffffff;
  position: fixed;
  bottom: 0em;
  left: 0em;
  right: 0em;
  height: 4.375em;
  box-shadow: 0em 0em 0.313em rgba(0, 0, 0, 0.5);
  z-index: 4; }
  nav.menu.web {
    display: none; }
  nav.menu ul {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.375em;
    padding-right: 0.375em; }
    nav.menu ul li {
      flex-grow: 1;
      text-align: center;
      vertical-align: bottom;
      list-style: none;
      margin-top: 0.250em;
      align-self: stretch;
      justify-content: space-around;
      display: flex;
      flex-direction: column; }
      nav.menu ul li svg {
        display: block;
        align-self: center;
        flex-grow: 1; }
      nav.menu ul li b {
        display: block;
        font-weight: 500;
        font-size: 0.75em;
        line-height: 1.563em;
        color: #425563;
        display: block;
        box-sizing: border-box;
        align-self: flex-end;
        text-align: center;
        width: 100%; }
    nav.menu ul li.active b {
      display: block;
      font-weight: 500;
      font-size: 0.75em;
      line-height: 1.563em;
      color: #005EB8; }

/** ICONS */
svg {
  width: auto;
  height: auto; }
  svg .canvas {
    fill: none; }
  svg .menu_stroke {
    fill: none;
    stroke: #425563;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.3em;
    transition: all ease 0.5s; }
  svg .symptoms_middle {
    fill: #425563; }
  svg .icon-account {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.4em; }

.menu svg {
  width: auto;
  max-width: 2.4em;
  height: 2.5em; }
  .menu svg .menu_stroke {
    fill: none;
    stroke: #425563;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.3em;
    transition: all ease 0.5s; }
  .menu svg .symptoms_middle {
    fill: #425563; }
.menu .active svg .menu_stroke {
  stroke: #005EB8; }
.menu #btn_more.active svg .menu_stroke {
  fill: #005EB8; }
.menu #btn_symptoms.active svg .active {
  fill: #005EB8; }
.menu #btn_symptoms.active svg .symptoms_middle {
  fill: #005EB8; }
.menu #btn_appointments.active svg .active {
  fill: #005EB8; }
.menu #btn_prescriptions.active svg .active {
  fill: #005EB8; }
.menu #btn_record.active svg .active {
  fill: #005EB8; }
.menu #btn_record.active svg .white {
  stroke: #ffffff; }
.menu #btn_more.active svg .active {
  fill: #005EB8; }

/** COMMON ELEMENTS */
h2 {
  font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.375em;
  line-height: 1.375em;
  color: #425563;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
  @supports (-webkit-overflow-scrolling: touch) {
    h2 {
      letter-spacing: -0.063em; } }

a {
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #212B32;
  color: #005EB8;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle; }
  a h2 {
    color: #005EB8; }

p {
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #212B32; }

b {
  display: block;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5em;
  color: #425563; }

hr {
  height: 0.063em;
  border: none;
  background-color: #D8DDE0; }

/** FORMS AND PANELS */
.info,
.form,
.panel,
.list-menu {
  font-size: 1em;
  margin-bottom: 1em; }
  .info p,
  .form p,
  .panel p,
  .list-menu p {
    padding-bottom: 0.5em;
    padding-top: 0.250em; }

.panel h3,
.form h3 {
  display: block;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5em;
  color: #425563;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.panel h4,
.form h4 {
  display: block;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5em;
  color: #425563;
  color: #768692;
  font-size: 1.250em;
  padding-bottom: 0.5em;
  padding-top: 0em; }
.panel b,
.panel label,
.form b,
.form label {
  padding-bottom: 0.250em;
  padding-top: 0.5em; }
.panel p b,
.form p b {
  display: inline-block;
  padding-top: 0em; }
.panel .checkbox,
.form .checkbox {
  border: 0.063em #768692 solid;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.313em;
  padding-bottom: 0.5em; }
  .panel .checkbox:active,
  .form .checkbox:active {
    border-color: #212B32; }
  .panel .checkbox .checked,
  .form .checkbox .checked {
    margin-left: 0.250em;
    margin-top: 0.375em;
    display: none; }
.panel p.char,
.form p.char {
  font-size: 1em; }
.panel .custom-dropdown,
.form .custom-dropdown {
  margin-bottom: 0.5em; }

.panel {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: #ffffff;
  -webkit-box-shadow: 0.063em 0.063em 0.125em 0em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0.063em 0.063em 0.125em 0em rgba(0, 0, 0, 0.2);
  box-shadow: 0.063em 0.063em 0.125em 0em rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s; }
  .panel h2 {
    display: block;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5em;
    color: #425563;
    font-weight: 700;
    padding-bottom: 0.5em;
    padding-top: 0.5em; }
  .panel .requested p,
  .panel .issued p,
  .panel .rejected p {
    padding-top: 0em; }
  .panel .requested svg,
  .panel .issued svg,
  .panel .rejected svg {
    vertical-align: middle; }
  .panel .requested b {
    color: #df6b31 !important; }
  .panel .issued b {
    color: #005326 !important; }
  .panel .rejected b {
    color: #DA291C !important; }
  .panel a.cancel-link:link,
  .panel a.cancel-link:visited {
    color: #D40003;
    display: inline-block;
    margin-top: 0.5em; }
  .panel p.session {
    padding-top: 0.750em;
    padding-bottom: 0.750em; }
  .panel p.person,
  .panel p.location {
    padding-top: 0.5em;
    padding-bottom: 0em; }

.info p,
.list-menu li p {
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.info h3,
.list-menu li h3 {
  font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.125em;
  color: #425563;
  padding-top: 1em; }
  @supports (-webkit-overflow-scrolling: touch) {
    .info h3,
    .list-menu li h3 {
      letter-spacing: -0.063em; } }
.info h4,
.list-menu li h4 {
  display: block;
  font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.125em;
  color: #425563;
  letter-spacing: -0.063em;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.info a,
.list-menu li a {
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.info a.info-link,
.list-menu li a.info-link {
  display: inline-block;
  font-size: 1em;
  font-style: normal; }

.info ul li {
  margin-left: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }

.nopadding .pull-content {
  padding-bottom: 2em; }
.nopadding .info {
  padding: 0em 1em 0em 1em; }
.nopadding h2 {
  margin-left: 0.7em;
  margin-top: 0.5em; }
.nopadding .error {
  margin: 1em;
  margin-top: 2em; }

ul.list-menu {
  border-top: 1px #D8DDE0 solid;
  list-style: none; }
  ul.list-menu li {
    box-sizing: border-box;
    background: #f0f4f5 url(../img/icon_arrow_left.svg) no-repeat center right;
    background-position: right 1em center;
    position: relative;
    margin-bottom: 0em;
    margin-left: 0em;
    padding: 0.250em 3em 0.250em 1em;
    border-bottom: 1px #D8DDE0 solid; }
    ul.list-menu li a {
      font-size: 1em; }
      ul.list-menu li a h2 {
        margin: 0em; }
    ul.list-menu li p {
      margin-bottom: 0; }

.form h3 {
  font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.125em;
  color: #425563;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
  @supports (-webkit-overflow-scrolling: touch) {
    .form h3 {
      letter-spacing: -0.063em; } }
.form label {
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.form b {
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.form input[type=text],
.form textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.313em;
  padding: 1em;
  border: 0.063em #768692 solid;
  outline: none;
  transition: all ease 0.5s;
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #212B32; }
  .form input[type=text].error,
  .form textarea.error {
    border: 0.063em #DA291C solid;
    color: #DA291C; }
.form input[type=text] {
  height: 3.125em;
  line-height: 3.125em; }
.form textarea {
  min-height: 6.250em; }

.checkbox-panel {
  display: flex;
  margin-top: 1em; }
  .checkbox-panel .checkbox {
    margin-right: 1em;
    flex: 0 0 1.5em; }
  .checkbox-panel label {
    padding-top: 0.125em; }

.selector {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
  .selector li {
    display: inline-block;
    list-style: none;
    background-color: #ffffff;
    border: 0.063em #768692 solid;
    box-sizing: border-box;
    border-radius: 0.313em;
    padding: 1em;
    margin: 0.5em;
    transition: all ease 0.5s;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    color: #212B32;
    width: calc(100% * (1/3) - 1.063em);
    max-width: calc(100% * (1/3) - 1.063em); }
  .selector.error li {
    border: 0.063em #DA291C solid;
    color: #DA291C; }
  .selector .selected {
    background-color: #005EB8;
    border: 0.063em #005EB8 solid;
    color: #ffffff; }
    .selector .selected p,
    .selector .selected label {
      color: #ffffff; }

/** APPOINTMENTS */
form.appointment-time h2 {
  display: block;
  font-family: "FrutigerLTW01-45Light", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.370em;
  line-height: 1.250em;
  color: #425563;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
  @supports (-webkit-overflow-scrolling: touch) {
    form.appointment-time h2 {
      letter-spacing: -0.063em; } }
form.appointment-time .selector {
  margin-bottom: 1em; }

/** GP MESSAGE */
.info-message {
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  margin-bottom: 0.5em; }
  .info-message > div {
    display: flex;
    padding: 1em;
    box-sizing: border-box; }
    .info-message > div .info-message-icon {
      background: #005EB8;
      color: white;
      font-size: 1.350em;
      width: 1.160em;
      height: 1.160em;
      border-radius: 0.938em;
      text-align: center;
      line-height: 1.160em;
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      align-self: center; }
    .info-message > div .info-message-title {
      color: #005EB8;
      font-size: 1em;
      font-weight: 700;
      display: inline-block;
      margin-left: 1em;
      align-self: center;
      margin-bottom: 0em;
      padding-top: 0em;
      padding-bottom: 0em; }
  .info-message > hr {
    margin: 0em;
    display: none; }
  .info-message > span {
    display: none; }
    .info-message > span > div {
      background: #ffffff;
      box-sizing: border-box;
      padding: 1em; }

/** MEDICAL RECORD */
h2.record-title {
  font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.125em;
  color: #425563;
  color: #005EB8;
  padding: 1em;
  padding-right: 1.875em;
  box-sizing: border-box;
  background: transparent url(../img/icon_arrow_left.svg) no-repeat center right;
  background-position: right 1em center;
  transition: background ease 0.5s;
  border-bottom: 0.125em solid #ffffff;
  margin: 0em; }
  @supports (-webkit-overflow-scrolling: touch) {
    h2.record-title {
      letter-spacing: -0.063em; } }
  h2.record-title.opened {
    background: transparent url(../img/icon_arrow_down.svg) no-repeat center right;
    background-position: right 1em center; }
  h2.record-title.closed {
    background: transparent url(../img/icon_arrow_left.svg) no-repeat center right;
    background-position: right 1em center; }

div.record-content {
  background: #ffffff;
  box-sizing: border-box;
  height: auto;
  overflow: auto; }
  div.record-content.closed {
    max-height: 0;
    transition: max-height 0.5s ease 0.3s; }
    div.record-content.closed p,
    div.record-content.closed b,
    div.record-content.closed hr {
      opacity: 0;
      transition: opacity 0.5s linear; }
  div.record-content.opened {
    max-height: 375.000em;
    transition: max-height 0.5s ease; }
    div.record-content.opened p,
    div.record-content.opened b,
    div.record-content.opened hr {
      opacity: 1;
      transition: opacity 0.1s linear 0.3s; }
  div.record-content p {
    display: block;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 1.650;
    color: #212B32;
    line-height: 2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 1em; }
    div.record-content p:first-child {
      padding-top: 1em; }
    div.record-content p:last-child {
      padding-bottom: 1em; }
  div.record-content b {
    display: block;
    font-weight: 700;
    font-size: 0.813em;
    line-height: 0.813em;
    color: #425563;
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-bottom: 0.250em; }
    div.record-content b:first-child {
      padding-top: 1em; }
  div.record-content hr {
    margin-bottom: 1em;
    border: none;
    height: 0.063em;
    background: #f0f4f5; }
    div.record-content hr:last-child {
      display: none; }

.validation-inline > p.validation-text > svg {
  margin-bottom: -2px !important; }

.validation-border-left {
  border-left: 4px #DA291C solid !important;
  padding-left: 1em !important;
  margin-top: 1em;
  margin-bottom: 0.5em; }

.validation-border {
  border: 3px #DA291C solid !important;
  padding-left: 1em !important; }

.validation-select-border {
  border: 3px #DA291C solid !important;
  padding-left: 0em !important; }

.validation-text {
  color: #DA291C !important;
  font-weight: 700 !important;
  padding-bottom: 0em !important; }

.error-circle {
  fill: #DA291C !important; }

/** SELECT */
.custom-dropdown--large {
  font-size: 1.5em; }

.custom-dropdown--small {
  font-size: .7em; }

.custom-dropdown__select {
  font-size: inherit;
  /* inherit size from .custom-dropdown */
  padding: .5em;
  /* add some space*/
  padding: 16px;
  width: 100%;
  margin: 0;
  /* remove default margins */
  outline: none; }

.custom-dropdown__select--white {
  background-color: #fff;
  border: 1px #ffffff solid;
  color: #4a4a4a; }

.custom-dropdown__select--white.error {
  background-color: #fff;
  border: 1px #DA291C solid;
  color: #DA291C; }

/** TOGGLE BUTTON */
.white-button-toggle {
  background: white;
  background-position: right 1em center;
  position: relative; }

.toggle {
  -webkit-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 15px;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s; }
  .toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s; }
  .toggle:checked {
    background-color: #11A918; }
  .toggle:checked:before {
    left: 32px; }

/** Links */
/*@media (max-width: 40.0525em)
.nhsuk-c-action-link .nhsuk-icon__arrow-right-circle {
    height: 34px;
    margin-bottom: -9px;
    top: -5px;
    width: 34px;
}*/
.nhsuk-icon__arrow-right-circle {
  display: inline-block;
  fill: #007f3b;
  height: 1.2em;
  left: -3px;
  top: -6px;
  width: 1.2em; }

/** APP */
body {
  background: #005EB8;
  padding: 0em;
  margin: 0em;
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #212B32;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff; }
  @media (max-device-width: 374px) {
    body {
      font-size: 0.875em; } }
  @media (min-device-width: 375px) and (max-device-width: 767px) {
    body {
      font-size: 1em; } }
  @media (min-device-width: 768px) and (max-device-width: 1023px) {
    body {
      font-size: 1.225em; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    body {
      font-size: 1.6em; } }
  @media (min-width: 1025px) {
    body {
      font-size: 1em; } }

* {
  padding: 0;
  margin: 0; }

main.onboard {
  background: radial-gradient(#0072DF 0%, #0053A3 100%);
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 3.350em;
  box-sizing: border-box;
  text-align: center;
  box-shadow: inset 0em -0.375em 0.5em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  main.onboard .nhso_logo {
    margin-top: 3em;
    box-sizing: border-box; }
    main.onboard .nhso_logo svg {
      height: 2.5em; }
  main.onboard .carousel {
    width: 100%;
    min-height: 12.500em;
    align-self: stretch; }
    main.onboard .carousel .board-account {
      background: url(../img/icon_board_account.svg) no-repeat center;
      /*padding-top: 9em;

      .button {
      	font-size: 0.8em;
      	margin-top: 3em;
      }*/ }
    main.onboard .carousel .board-symptoms {
      background: url(../img/icon_board_symptoms.svg) no-repeat center; }
    main.onboard .carousel .board-appointments {
      background: url(../img/icon_board_appointments.svg) no-repeat center; }
    main.onboard .carousel .board-prescriptions {
      background: url(../img/icon_board_prescriptions.svg) no-repeat center; }
    main.onboard .carousel .board-record {
      background: url(../img/icon_board_record.svg) no-repeat center; }
    main.onboard .carousel div.slide {
      display: table !important;
      height: 100%;
      vertical-align: middle;
      padding-bottom: 9em;
      background-size: 10.625em;
      background-position: 50% 30%; }
      main.onboard .carousel div.slide h1 {
        display: block;
        font-family: "FrutigerLTW01-45Light", Arial, sans-serif;
        font-weight: normal;
        font-size: 1.250em;
        line-height: 1.250em;
        color: #ffffff;
        display: table-cell;
        font-size: 1.625em;
        line-height: 1.325em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        margin: auto; }
        @supports (-webkit-overflow-scrolling: touch) {
          main.onboard .carousel div.slide h1 {
            letter-spacing: -0.063em; } }
    main.onboard .carousel .slick-dots {
      margin-bottom: 1em; }
      main.onboard .carousel .slick-dots li button:before {
        color: #ffffff;
        opacity: 0.5;
        font-size: 12px; }
      main.onboard .carousel .slick-dots li.slick-active button:before {
        color: #ffffff;
        opacity: 1;
        font-size: 14px; }

nav.onboard-nav {
  background: #005EB8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0em;
  height: 3.350em;
  text-align: center;
  width: 100%;
  vertical-align: bottom;
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 0.063em rgba(255, 255, 255, 0.4) solid;
  display: flex;
  justify-content: space-between; }
  nav.onboard-nav a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    line-height: normal; }
  nav.onboard-nav .left,
  nav.onboard-nav .right {
    width: 5em; }
  nav.onboard-nav .left {
    text-align: left; }
  nav.onboard-nav .right {
    text-align: right; }

/*# sourceMappingURL=onboard.css.map */