@model (string Title, Microsoft.AspNetCore.Http.HttpRequest Request)
<html lang="en">
<div>
   <a href="http://web.local.bitraft.io:3000/appointments" style="width: 100%; height:100%; display: block">Internal Appointments Link</a>
</div>
</html>