@model (string Title, string SubTitle, string SecureHostName, Microsoft.AspNetCore.Http.HttpRequest Request)
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>@Model.Title</title>
</head>
<body>

<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>
    @if (Model.SubTitle != "")
    {
        <h2 class="display-4">@Model.SubTitle</h2>
    }
</div>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><a href="/Calendar.html">Calendar</a></li>
        <li class="list-group-item"><a href="/GoToPage.html">Go to page</a></li>
        <li class="list-group-item"><a href="/FileUpload.html">File upload</a></li>
        <li class="list-group-item"><a href="/DocumentDownload.html">Download document</a></li>
        <li class="list-group-item"><a href="https://@Model.SecureHostName/LocationServices.html">Location services</a></li>
    </ul>
</div>

@await Html.PartialAsync("~/views/HttpRequestData.cshtml", Model.Request)

</body>
</html>