@model (string Title, Microsoft.AspNetCore.Http.HttpRequest Request)
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>@Model.Title</title>
    <script type="text/javascript" src="http://web.local.bitraft.io:3000/js/v1/nhsapp.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>
</div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item"><a href="http://deeplinklauncher.stubs.local.bitraft.io/">External domain</a></li>
    </ul>
</div>
@await Html.PartialAsync("~/views/HttpRequestData.cshtml", Model.Request)
</body>
</html>