
[*.cs]
end_of_line=lf
charset=utf-8
indent_style=space
indent_size=4

[*.{csproj,props,targets}]
end_of_line=lf
charset=utf-8
indent_style=space
indent_size=2

[Makefile]
indent_style=tab
indent_size=4

[*.make]
indent_style=tab
indent_size=4

[README.md]
end_of_line=lf
