# User-specific stuff:
.idea/
.user/
.gradle/
.vscode/
.DS_Store
audit.txt
web.DotSettings.user

# Chromedriver#
######################
chromedriver_win32/
chromedriver

bddtests/target/site/

# user settings file
*.DotSettings.user

ios/NHSonline/NHSOnline.xcworkspace
ios/NHSOnline/Pods
ios/NhsOnline/Podfile.lock
