# User-specific stuff:
.idea/
.user/
.gradle/
.vscode/
.DS_Store
audit.txt

# Chromedriver#
######################
chromedriver_win32/
chromedriver

bddtests/target/site/

# user settings file
*.DotSettings.user
