IS_FIRST_TIME_OPENED = IsFirstTimeOpened
HOT_JAR_LINK_URL = in.hotjar.com/s?siteId=859152&amp;surveyId=95785
NHS_111_URL = 111.nhs.uk
NHS_111_LOCATION_URL = 111.service.nhs.uk/
CONDITIONS_URL_PATH = www.nhs.uk/conditions/
MORE_URL = /more
MY_RECORD_URL_PATH = /my-record
APPOINTMENTS_URL_PATH = /appointments
SYMPTOMS_URL_PATH = /symptoms
ORGAN_DONATION_URL_PATH = /organ-donation
PRESCRIPTIONS_URL_PATH = /prescriptions
MY_ACCOUNT_URL_PATH = /account
SESSION_URL_PATH = /session
AUTH_REDIRECT_PATH = /auth-return
BASE_SCHEME = https
NHS_ONLINE_REQUIRED_QUERY_STRING = ?source=ios
CHECK_SYMPTOMS_URL_PATH = /check-your-symptoms
DATA_SHARING_URL = /data-sharing
APP_SCHEME = nhsapp
MEDICAL_RECORD_ABBREVIATIONS_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/medical-abbreviations/
HELP_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/
TERMS_AND_CONDITIONS_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/terms-of-use/
PRIVACY_POLICY = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy-policy/
COOKIES_POLICY_URL= www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/cookies-policy/
OPEN_SOURCE_LICENCE_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/open-source-licences/
ACCESSIBILITY_STATEMENT_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/accessibility-statement/
DATA_PREFERENCES_URL = ndopapp-int1.thunderbird.service.nhs.uk/createsession
RESPONSE_WAITING_TIME = 20
CONFIGURATION_API_PATH = configuration?deviceName=iOS&nativeAppVersion=%@
APP_STORE_SCHEME = itms-apps
APP_STORE_URL = itunes.apple.com/app/
APP_STORE_ID = id1388411277
CID_URL_SUFFIX = signin.nhs.uk
