IS_FIRST_TIME_OPENED = IsFirstTimeOpened
HOT_JAR_LINK_URL = in.hotjar.com/s?siteId=859152&amp;surveyId=95785
NHS_111_URL = 111.nhs.uk
NHS_111_LOCATION_URL = 111.service.nhs.uk/

MORE_URL = /more
DATA_SHARING_URL_PATH = /data-sharing

HEALTH_RECORDS_URL_PATH = /health-records
MY_RECORD_URL_PATH = /my-record
APPOINTMENTS_URL_PATH = /appointments
ADMIN_HELP_URL_PATH = /appointments/admin-help
ADVICE_URL_PATH = /advice
ORGAN_DONATION_URL_PATH = /organ-donation
PRESCRIPTIONS_URL_PATH = /prescriptions
MY_ACCOUNT_URL_PATH = /account
PRESCRIPTIONS_GP_AT_HAND_URL_PATH = /prescriptions/gp-at-hand
MY_RECORD_GP_AT_HAND_URL_PATH = /my-record/gp-at-hand
APPOINTMENTS_GP_AT_HAND_URL_PATH = /appointments/gp-at-hand
INFORMATICA_URL_PATH = /appointments/informatica
SESSION_URL_PATH = /session
AUTH_REDIRECT_PATH = /auth-return
BASE_SCHEME = https
CHECK_SYMPTOMS_URL_PATH = /check-your-symptoms
PRE_REGISTRATION_INFORMATION_PATH = /pre-registration-information
BIOMETRIC_LOGIN_ERROR_PATH = /biometric-login-error
APP_SCHEME = nhsapp
LOGGER_API_PATH = v1/api/log
MEDICAL_RECORD_ABBREVIATIONS_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/abbreviations/
HELP_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/
HELP_ACCOUNT_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/account/
HELP_APPOINTMENTS_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/appointments/
HELP_LOGIN_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/app-login/
HELP_PRESCRIPTIONS_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/prescriptions/
HELP_RECORD_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/record/
TERMS_AND_CONDITIONS_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/terms/
PRIVACY_POLICY = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/
COOKIES_POLICY_URL= www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/cookies/
OPEN_SOURCE_LICENCE_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/open-source/
ACCESSIBILITY_STATEMENT_URL = www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/accessibility/
DATA_SHARING_URL = www.nhs.uk/your-nhs-data-matters/
CONDITIONS_URL_PATH = www.nhs.uk/conditions/
RESPONSE_WAITING_TIME = 20
CONFIGURATION_API_PATH = v2/configuration
APP_STORE_SCHEME = itms-apps
APP_STORE_URL = itunes.apple.com/app/
APP_STORE_ID = id1388411277
CID_URL_SUFFIX = signin.nhs.uk
DATA_PREFERENCES_URL = ndopapp-int1.thunderbird.service.nhs.uk/createsession
