#include "Defaults.xcconfig"
#include "Pods/Target Support Files/Pods-NHSOnlinePaycasso/Pods-NHSOnlinePaycasso.production.xcconfig"

HOME_URL = www.nhsapp.service.nhs.uk/
BASE_API_URL = api.nhsapp.service.nhs.uk/
CID_URL_SUFFIX = login.nhs.uk
DATA_PREFERENCES_URL = app.your-data-matters.service.nhs.uk/createsession
