# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the NHS App API
# owned by NHS Digital (https://digital.nhs.uk/)
openapi: "3.0.0"
info:
  version: "0.1.0"
  title: NHS App API
  description: |
    ## Overview
    Use this API to engage with users of the [NHS App](https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/) - a simple and secure way for patients registered with a GP surgery in England to access a range of services on their smartphone or tablet.

    You can:
    * send in-app messages to specific users of the NHS App
    * send native Apple or Android push notifications to mobile devices registered by specific users of the NHS App

    Currently, this API can only be accessed by organisations that deliver functionality to patients through the NHS App.

    ## API status and roadmap
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:
    - we are in the early stages of prototyping and may make extensive breaking changes based on developer feedback
    - we can't guarantee availability or performance
    
    If you have any queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    ## Network access
    This API is available on the internet.
    
    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    
    ## Authorisation
    This API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),
    meaning that the calling application is authenticated, but the end user is not authenticated and may not be present.

    The API currently uses an [API key pattern](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-api-key-authentication) to authorise the calling system.

    We are considering transitioning to using the [OAuth 2.0 signed JWT authentication pattern](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication) to authorise the calling system.

    ## Environments and testing

    | Environment       | Base URL                                                       |
    | ----------------- | -------------------------------------------------------------- |
    | Integration test  | `https://int.api.service.nhs.uk/nhs-app/`                      |
    | Production        | `https://api.service.nhs.uk/nhs-app/`                          |

    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    * is for formal integration testing
    * is stateful, so persists updates
    * includes authorisation
        
    Our integration test environment is currently pointing to the Onboarding Sandpit NHS App environment, which in turn is using the Sandpit environment of NHS Login.

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Onboarding
    You need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.

    To onboard for this API, follow the [Supplier Conformance Assessment List (SCAL) process.](https://digital.nhs.uk/developer/guides-and-documentation/onboarding-process#onboard-using-the-supplier-conformance-assessment-list-scal-process)

  contact:
    name: NHS App API Support
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://int.api.service.nhs.uk/nhs-app'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/nhs-app'
    description: 'Production environment.'
tags:
  - name: communication
paths:
  /Communication:
    parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/CorrelationId'
    post:
      summary: Send a communication
      operationId: create-communication
      description: |
        ## Overview
        Use this endpoint to request that a communication be sent to one or more patients.
        
        Currently this endpoint can be used to send In-App Messages that appear within the NHS App. We intend to additionally offer functionality to send native Apple and Android Push Notifications in the near future.
        
        Recipients can currently be specified by NHS Number. A single communication request can be sent to between 1 and 100 distinct NHS Numbers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
                - channels
                - recipients
              properties:
                campaignId:
                  type: string
                  description: Optional Campaign Identifier, used to group multiple communication requests for later analysis.
                  maxLength: 50
                  example: "2020_covid_plasma_appeal"
                requestReference:
                  type: string
                  description: Optional human-readable transaction reference to later identify this request.
                  maxLength: 50
                  example: "20201022_covid_appeal_16"
                channels:
                  type: object
                  description: The channels by which the communication will be sent, and the content for each communication channel. Currently we only support sending in-app messages that appear within the NHS App. We intend to additionally offer native Apple and Android Push Notifications in the near future.
                  properties:
                    appMessage:
                      type: object
                      description: The communication content to appear as an in-app message.
                      properties:
                        sender:
                          type: string
                          description: The name to be displayed in the NHS App as the sender of the message. The NHS App user interface will group together messages sent from the same sender name into a single thread of messages.
                          maxLength: 50
                          pattern: must not match <(.|\n)*?>
                          example: NHS Blood and Transplant
                        body:
                          type: string
                          description: The body text of the message to be displayed in the NHS App. Currently we support plain text only. Carriage returns can be entered as \n. The NHS App user interface will attempt to 'linkify' any hyperlinks in the text. We have a story on our backlog to consider supporting [Markdown](https://en.wikipedia.org/wiki/Markdown), and welcome any feedback you may have on this suggestion.
                          maxLength: 1000
                          pattern: must not match <(.|\n)*?>
                          example: Have you had coronavirus (COVID-19)? \nThe NHS urgently needs blood plasma donations. It could save lives and be an important treatment during a second wave of infection.\nWe especially need men to donate. This includes men who have had coronavirus symptoms but no test.\nTo find out more about donating blood plasma and how to help, go to https://www.nhsbt.nhs.uk/who-can-donate-plasma
                recipients:
                  type: object
                  description: The intended recipients of this communication. Currently we support only sending communications by NHS Number.
                  properties:
                    nhsNumbers:
                      type: array
                      description: An array of NHS numbers corresponding to the patient(s) to whom this communication should be sent. Each communication may be sent to between 1 and 100 distinct NHS Numbers. The communication request will be rejected if any duplicated values exist in this array.
                      example: ["9903002157", "9678304287"]
                      items:
                        type: string
                        pattern: "^\\d{10}$"
                        description: The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS Number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).
      tags:
        - communication
      responses:
        '201':
          description: Indicates that the request has been successfully received by the server. The request to send the communication has been enqueued.
          headers:
            Location:
              schema:
                type: string
              description: The location of the newly-created resource.
              example: https://int.api.service.nhs.uk/nhsapp/communication/a2d10720-9e72-4ae4-be72-8cbe1be292d1
            X-Correlation-ID:
              schema:
                type: string
              description: If an X-Correlation-ID was specified in the request, this will be mirrored in the response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: An identifier for the newly-created communication resource within the destination system.
                    example: a2d10720-9e72-4ae4-be72-8cbe1be292d1
        '400':
          description: Indicates that the server cannot or will not process the request due to something that is perceived to be a client error.
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: If an X-Correlation-ID was specified in the request, this will be mirrored in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    propertyName:
                      type: string
                      description: The property name within the source payload that has failed validation.
                      example: Recipients.NhsNumbers
                    message:
                      type: string
                      description: A description of the reason why the source payload has failed validation.
                      example: "Specified values are invalid: '2981615972','3846131965'"
        '401':
          description: Indicates the request has not been applied because it lacks valid authentication credentials. This may be due to a missing or invalid X-Api-Key header.
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: If an X-Correlation-ID was specified in the request, this will be mirrored in the response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fault:
                    type: object
                    properties:
                      faultString:
                        type: string
                        example: "Invalid ApiKey"
                      detail:
                        type: object
                        properties:
                          errorcode:
                            type: string
                            example: "oauth.v2.InvalidApiKey"
components:
  parameters:
    CorrelationId:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        An identifier can be created when making a request, this will assist with any problems that may occur and should be included when an issue is raised with the helpdesk.
        
        If provided, this must be a GUID represented as 32 hexadecimal digits, displayed in five groups separated by hyphens in the form 8-4-4-4-12,

        This will be mirrored back in the response headers.
      schema:
        type: string
        example: b5bc6879-103e-4a78-975e-87e815c5da58
    ApiKey:
      in: header
      name: X-Api-Key
      required: true
      description: |
        An API Key used to authenticate the calling application. For more details see [Application-restricted RESTful APIs - API key authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-api-key-authentication). If this key is not supplied, or does not grant access to this API, a 401 Unauthorized response will be returned.
      schema:
        type: string
        example: AHkYeqh8N1yrnKGb108puMFUdmxnATkS