@model (string Title, Microsoft.AspNetCore.Http.HttpRequest Request)
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>@Model.Title</title>
    <script type="text/javascript" src="http://web.local.bitraft.io:3000/js/v1/nhsapp.js"></script>
    <script>
        function setLogger() {
            if (!console) {
                console = {};
            }
            var old = console.log;
            var logger = document.getElementById('log');
            console.log = function (message) {
                if (typeof message == 'object') {
                    logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : String(message)) + '<br />';
                } else {
                    logger.innerHTML += message + '<br />';
                }
            }
        }
    
        function addToCalendar() {
          setLogger();
          
          const subject = document.getElementById("subject").value;
          const body = document.getElementById("body").value;
          const location = document.getElementById("location").value;
          const epochStartTime = document.getElementById("epoch-start-time").value;
          const epochEndTime = document.getElementById("epoch-end-time").value;
          
          nhsapp.storage.addEventToCalendar(subject, body, location, epochStartTime, epochEndTime);
        }
    </script>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>
</div>
<div class="container">
    <div id="log"></div>
    <fieldset>
        <label for="subject">Title</label><br>
        <input type="text" id="subject" name="subject"><br>

        <label for="body">Notes</label><br>
        <input type="text" id="body" name="body"><br><br>

        <label for="location">Location</label><br>
        <input type="text" id="location" name="location"><br><br>

        <label for="epoch-start-time">Epoch Start Time</label><br>
        <input type="text" id="epoch-start-time" name="epoch-start-time"><br><br>

        <label for="epoch-end-time">Epoch End Time</label><br>
        <input type="text" id="epoch-end-time" name="epoch-end-time"><br><br>

        <button id="test-cal" onclick="addToCalendar()">
            Add To Calendar
        </button>
    </fieldset>
</div>
@await Html.PartialAsync("~/views/HttpRequestData.cshtml", Model.Request)
</body>
</html>