@import '~nhsuk-frontend/packages/core/settings/colours';

.nhsuk-appointment-card {
    .date-time-header {
        display: block;
    }

    p {
        word-break: break-word;
    }

    a.nhsuk-action-link__link {
        font-weight: bold;
        color: $color_nhsuk-red;
        display:inline-block;
    }

    a.nhsuk-action-link__link {
        &:focus {
        color: $color_nhsuk-red;
        }

        &:hover {
        color: $color_nhsuk-red;
        }
    }
}