@import '../colours';
@import '../screensizes';
@import '../textstyles';
@import "../fonts";
@import "../arrow";
@import '../accessibility';
@import '../desktopWeb/accessibility';
@import '../screensizes';

.fix-breadcrumb {
  z-index: 4;
  position: fixed;
  width: 100%;
}

.bannerLine {
  height: 5px;
}

.bannerLine-padding {
  padding-top: 7px;
}

.native-padding {
  padding-top: 46px;
}

.bannerLink {
  color: $nhs_blue;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
    box-shadow: none;
    cursor: pointer;
  }

  &:focus {
    @include focusStyleLightMenuItem;
    outline-color: $nhs_blue;
    box-shadow: inset 0 0 0 4px $nhs_blue;
    outline-offset: -5px;
  }

  @include tabletAndBelow{
      display: block;
  };

  @include fromTablet{
      display: inline-block;
  };
}

.bannerText {
  color:$black;
}

.focusedItem {
  &:focus {
    @include focusStyleLightMenuItem;
    color: #000;
  }
}
