// Added as part of NHSO-13314
@import '../colours';
@import '~nhsuk-frontend/packages/core/settings/globals';
// End of Addition

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    a {
      display: inline-block;
      vertical-align: top;
      border: 4px solid transparent;

      &:focus,
      &:hover {
        // Added as part of NHSO-13314
        background-color: #ffeb3b !important;
        border: 4px solid #ffeb3b !important;
        box-shadow: 0 -2px #ffeb3b, 0 4px #212b32 !important;
        // End of Addition
      }

      img{
        display: block;
      }
    }
  }
}
