p.panel-content > a {
  display: inline;
  font-weight: normal;
  vertical-align: unset;
}

.nhsuk-app-chat {
  list-style-type: none;
}

.nhsuk-reply-info-divider {
  border-top: 1px solid #d8dde0;
}