@import '../colours';
@import "../fonts";
@import '../screensizes';
@import '../textstyles';

@mixin mini-menu-option {
  padding: 1em 0.8em 1em 1em;
  display: block;
  border-bottom: 1px $background solid;
  color: $black;
  cursor: pointer;
}

nav {
  overflow: hidden;
  height: auto;
  display: none;

  :focus {
    box-shadow: inset 0 0 0 4px $focus_highlight;
  }

  .menu-nojs-caption {
    display: none;
  }

  @include fromLargeDesktop() {
    & {
     display: block;
    }

    .additionalMenuItem {
      display: none;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        display: inline-block;
        margin: 0;
        color: $white;
        flex-grow: 1;
        text-align: center;

        :focus {
          outline-color: $focus_highlight;
          box-shadow: inset 0 0 0 4px $focus_highlight;
          outline-offset: -5px;
        }

        a {
          @include default_text_web;
          color: $white;
          padding: 1em;

          &:visited,
          &:active {
            color: $white;
          }

          &:hover {
            background: #003d78;
            box-shadow: none;
            color: #FFFFFF;
            text-decoration: underline;
          }
        }
      }
    }
  }

  a.mini-menu-close-button {
    display: none;

    :focus {
      outline-color: $focus_highlight;
      box-shadow: inset 0 0 0 4px $focus_highlight;
      outline-offset: -5px;
    }
  }

  @include tabletAndBelow {
    hr {
      display: none;
    }

    background: $white;

    .menu-nojs-caption {
      @include mini-menu-option;
      cursor: default;
    }
  }
}