@import "../info";
@import "../nhsuklinks";
@import "../textstyles";

a {
  text-decoration: underline;
}

div {
  .info {
    a {
      display: inline;
      vertical-align: unset;
      font-weight: normal;
      padding: 0;
    }
  }

  .desktopWeb {
    max-width: 540px;

    .info {
      p {
        font-family: $default-web;
        font-weight: lighter;
      }
    }
  }
}