@import '~nhsuk-frontend/packages/core/tools/mixins';
@import '~nhsuk-frontend/packages/core/tools/spacing';
@import '~nhsuk-frontend/packages/core/settings/spacing';
@import '~nhsuk-frontend/packages/core/tools/sass-mq';

.toggleAndLabel {
  background: #fff;
  border-top: 1px #d8dde0 solid;
  border-bottom: 1px #d8dde0 solid;
  padding: 1em;
  margin: 5px -16px 1em;
  display: flex;
  justify-content: space-between;

  label {
    display: inline-block;
    max-width: calc(100% - 4em);
    vertical-align: middle;
    flex: 1 0 0;
  }

  &.waiting {
    .spinner {
      display:block;
    }

    .toggleWrapper label {
      &:before, &:after {
        display: none;
      }
    }
  }
  
  p {
    display: inline-block;
    width: calc(100% - 4em);
    vertical-align: middle;
  }

  @include govuk-media-query('tablet') {
    margin-left: 0;
    margin-right: 0;
  }
}