@import "../accessibility";
@import '../colours';
@import "../home";

.appVersion {
  text-align: center;
}

.continueWithNhsLogin {
  height: 60px;
  width: 345px;
  background-image: url('../../src/assets/icon-continue-with-nhs-login-normal.svg'),
  url('../../src/assets/icon-continue-with-nhs-login-hovered.svg'),
  url('../../src/assets/icon-continue-with-nhs-login-focused.svg');
  background-repeat: no-repeat;
  background-size: 345px 60px;
  display: block;
  font-size: 0;
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
  margin: 0;

  &:hover {
    cursor: pointer;
    background-image: url('../../src/assets/icon-continue-with-nhs-login-hovered.svg');
  }
  &:focus {
    cursor: pointer;
    background-image: url('../../src/assets/icon-continue-with-nhs-login-focused.svg');
  }
}
