@import '~nhsuk-frontend/packages/core/tools/sass-mq';

.widen-tablet {
  @include mq($until: tablet) {
    margin: 1em -1em 0;
  }
}

.widen-desktop {
  @include mq($until: desktop) {
    margin: 1em -1em 0;
  }
}

.nhs-app-panel-heading {
  margin-bottom: 0;
  margin-top: 1em;

  h1, h2, h3, h4, h5 {
    background-color: white;
    padding: 0.5em 16px 0.5em 16px;
    border-top: 1px solid #d8dde0;
    margin-bottom: 0;
  }
}