@import "../textstyles";

.msgText {
  padding: 1em 1em 0 1em;
  @include message;

  &.header {
    @include default_label;
    }

  &.plainHeader {
    @include default_label;
    }

  &.footerMargin {
   margin-bottom: 1em;
  }
}

.unindented {
  padding: 1em 1em 0 0;
}