@import "../textstyles";

.msgList {
  list-style: none;
  padding: 0em 1em 0em 1em;

  li {
    padding-top: 0.25em;
    @include message;
  }

  &.error {
    li {
      color: $error;

      p {
        color: $error;
      }
    }
  }
}
