.container {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
  }

  .wrapper {
    width: 80%;
    max-height: 75%;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    z-index: 99999;
    top: 25%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .reveal-modal {
    min-width: 250px;
    width: 100%;
    background: #ffffff;
    z-index: 99999;
    padding: 30px;
  }