@import "../colours";
@import '../screensizes';

a {
  &:visited, &:active {
    color: $white;
  }

  &:hover {
    background: $hover_blue;
    box-shadow: 0 0 0 3px $hover_blue;
    color: $white;
    text-decoration: underline;
  }
}

@include tabletAndBelow() {
  span {
    padding-top: 0;
  }
}