@import "../spacings";
@import "../buttons";
@import "../info";

div {
  &.desktopWeb {
    max-width: 540px;

    .warningText {
      font-family: $default_web;
      font-weight: normal;
    }

    li {
      font-family: $default_web;
      font-weight: normal;
    }

    p {
      font-family: $default_web;
      font-weight: normal;
    }
  }
}