@import '~nhsuk-frontend/packages/core/settings/colours';
@import '~nhsuk-frontend/packages/core/settings/globals';
@import '~nhsuk-frontend/packages/core/settings/spacing';
@import '~nhsuk-frontend/packages/core/tools/ifff';
@import '~nhsuk-frontend/packages/core/tools/sass-mq';
@import '~nhsuk-frontend/packages/core/tools/spacing';

.decision-button {
  @include nhsuk-responsive-padding(2, "top");
  @include nhsuk-responsive-padding(3, "right");
  @include nhsuk-responsive-padding(0, "bottom");
  @include nhsuk-responsive-padding(3, "left");
  background: $color_nhsuk-white;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;

  div {
    height: 100%;
    vertical-align: top;
  }

  .icon {
    @include nhsuk-responsive-margin(4);
  }

  h2 {
    @include nhsuk-responsive-padding(1, "bottom");
    @include nhsuk-responsive-padding(0, "top");
  }

  p {
    word-break: break-word;
  }
}

.no-button {

  h2 {
    color: $color_nhsuk-red;
  }

  p {
    color: $color_nhsuk-red;
  }
}

.yes-button {

  h2 {
    color: $color_nhsuk-green;
  }
  
  p {
    color: $color_nhsuk-green;
  }
}

.button-content {
  vertical-align: top;
}