.nhsuk-form-group a {
  vertical-align: baseline;
  display: inline !important;
}

.question.required,
.optionalLabel.marginBottom {
  margin-bottom: 1em !important;
}

.question {
  .nhsuk-hint:last-of-type {
    margin-bottom: 0 !important;
  }

  a {
    display: inline;
    vertical-align: baseline;
  }
}
.nhsuk-care-card {
  margin-top: 0;
  margin-bottom: 0;
}

.nhsuk-hint {
  b {
    display: inline-block;
  }
}