@import '~nhsuk-frontend/packages/core/settings/all';
@import '~nhsuk-frontend/packages/core/settings/colours';
@import '~nhsuk-frontend/packages/core/settings/globals';
@import '~nhsuk-frontend/packages/core/settings/spacing';
@import '~nhsuk-frontend/packages/core/tools/all';

@import '~nhsuk-frontend/packages/components/panel/panel';

@import "../../style/colours";

.nhsuk-panel {
  border: 1px solid $border_grey;
  width: fit-content;
}

.nhsuk-panel-sender {
  text-align: left;
}

.attachmentText {
  color: #425563;
}

.attachmentLink {
  display: inline;
}