@import '~nhsuk-frontend/packages/core/all.scss';
@import '~nhsuk-frontend/packages/components/action-link/action-link';

@import "../fonts";

.nhsuk-button-full-width {
  width: 100%;
}

.logoutPanel {
  text-align: center;
}

.logoutLink {
  vertical-align: middle;
  padding-left: 0;
  text-align: center;
  color: $color_nhsuk-blue;

  &:visited {
    color: $color_nhsuk-blue;
  }
}