@import '~nhsuk-frontend/packages/core/settings/breakpoints';
@import '~nhsuk-frontend/packages/core/settings/colours';
@import '~nhsuk-frontend/packages/core/settings/globals';
@import '~nhsuk-frontend/packages/core/settings/spacing';
@import '~nhsuk-frontend/packages/core/settings/typography';
@import '~nhsuk-frontend/packages/core/tools/functions';
@import '~nhsuk-frontend/packages/core/tools/ifff';
@import '~nhsuk-frontend/packages/core/tools/sass-mq';
@import '~nhsuk-frontend/packages/core/tools/spacing';
@import '~nhsuk-frontend/packages/core/tools/typography';

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewFullMessageText {
  color: #425563;
}

.nhs-app-message__link {
  padding: nhsuk-spacing(3);
  padding-right: nhsuk-spacing(7);
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 $nhsuk-box-shadow-spread $color_nhsuk-warm-yellow;
    outline: none;
  }

  .flex-baseline-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .nhs-app-message__title {
      @include nhsuk-responsive-padding(0);
      @include nhsuk-responsive-margin(0);
      overflow-wrap: break-word;
      word-break: break-word;
    }

    .nhs-app-message__date {
      margin-left: nhsuk-spacing(2);
      @include nhsuk-typography-responsive(16);
      font-weight: $nhsuk-font-normal;
      color: $nhsuk-secondary-text-color;
      word-break: break-word;
      justify-content: right;

      &.nhs-app-message__date--unread {
        font-weight: $nhsuk-font-bold;
        color: $nhsuk-text-color;
      }
    }

    .nhs-app-message__subject-line {
      flex-grow: 1;
      flex-shrink: 1;
      @include nhsuk-responsive-padding(1, "top");
      @include nhsuk-responsive-padding(0, "bottom");
      @include nhsuk-responsive-margin(0, "bottom");
      color: $nhsuk-secondary-text-color;
      @include overflow-ellipsis;

      &.nhs-app-message__subject-line--unread {
        font-weight: $nhsuk-font-bold;
      }
    }

    .nhs-app-message__meta {
      flex-shrink: 0;
      margin-left: nhsuk-spacing(2);
      .nhs-app-message__count {
        @include nhsuk-responsive-padding(1, "left");
        @include nhsuk-responsive-padding(1, "right");
        @include nhsuk-typography-responsive(14);
        font-weight: $nhsuk-font-bold;
        background-color: $color_nhsuk-red;
        border-radius: nhsuk-spacing(3);
        color: $color_nhsuk-white;
        display: inline-block;
        min-width: nhsuk-spacing(4);
        min-height: nhsuk-spacing(4);
        text-align: center;
        @include govuk-media-query($until: tablet) {
          padding-top: 1px;
          padding-bottom: 1px;
        }
      }
    }
  }
}