@import '~nhsuk-frontend/packages/core/settings/colours';
@import '~nhsuk-frontend/packages/core/settings/globals';
@import '~nhsuk-frontend/packages/core/settings/spacing';
@import '~nhsuk-frontend/packages/core/tools/ifff';
@import '~nhsuk-frontend/packages/core/tools/sass-mq';
@import '~nhsuk-frontend/packages/core/tools/spacing';

@import "../colours";

.whiteText {
  color: $color_nhsuk-white !important;
}

.warning-content-panel {
  @include nhsuk-responsive-margin(4, "top");
  @include nhsuk-responsive-margin(4, "bottom");
  width: 100%;
  color: $color_nhsuk-white;
  background-color: $panel_blue;

  .warning-content-panel__content {
    @include nhsuk-responsive-padding(2);
    @include nhsuk-responsive-padding(4, "left");
    @include nhsuk-responsive-padding(4, "right");

    strong {
      display: inline;
    }

    a.nhsuk-button {
      color: $nhsuk-text-color;
    }

    a.inline-link {
      color: $color_nhsuk-white;
      text-decoration: underline;
      display: inline;

      &:visited {
        color: $color_nhsuk-white;
      }

      &:focus {
        color: $nhsuk-text-color;
      }
      
      &:hover {
        color: $nhsuk-text-color;
        text-decoration: none;
      }
    }
  }
}