@import '../colours';

.yellow {
  background: $warning_title;
}

.border {
  border-bottom: 1px $color_nhsuk-grey-4 solid;
}

.silver {
  background: $background;
}

.floating{
  position: sticky;
  top: 0px;
  z-index: 999;
}
