@import '~nhsuk-frontend/packages/core/settings/spacing';
@import '~nhsuk-frontend/packages/core/tools/mixins';
@import '~nhsuk-frontend/packages/core/tools/sass-mq';
@import '~nhsuk-frontend/packages/core/tools/spacing';

.nhsuk-card-group__item {
  @include flex-item();

  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(4);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * The below styling is used for ie11 specifically. Can be removed once we don't support ie11.
 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nhsuk-card-group__item {
    @include govuk-media-query($until: desktop) {
      flex: 1 0 80%;
    }
  }
}