<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarouselDirectory</key>
	<string>assets</string>
	<key>CarouselContentType</key>
	<string>html</string>
	<key>CarouselFileName</key>
	<string>appintro</string>
	<key>IsFirstTimeOpened</key>
	<string>IsFirstTimeOpened</string>
	<key>HomeUrl</key>
	<string>https://www-preview.devuks1.nonlive.nhsapp.service.nhs.uk/</string>
	<key>HotJarLinkUrl</key>
	<string>https://in.hotjar.com/s?siteId=859152&amp;surveyId=95785</string>
	<key>Nhs111Url</key>
	<string>https://111.nhs.uk/</string>
	<key>Nhs111LocationUrl</key>
	<string>https://111.service.nhs.uk/</string>
	<key>OrganDonationUrl</key>
	<string>https://www.organdonation.nhs.uk/</string>
	<key>DataSharingUrl</key>
	<string>https://www.nhs.uk/your-nhs-data-matters/benefits-of-data-sharing/</string>
	<key>ConditionsUrlPath</key>
	<string>https://www.nhs.uk/conditions/</string>
	<key>MoreUrlPath</key>
	<string>/more</string>
	<key>MyRecordUrlPath</key>
	<string>/my-record-warning</string>
	<key>AppointmentsUrlPath</key>
	<string>/appointments</string>
	<key>SymptomsUrlPath</key>
	<string>/symptoms</string>
	<key>PrescriptionsUrlPath</key>
	<string>/prescriptions</string>
	<key>MyAccountUrlPath</key>
	<string>/account</string>
	<key>SessionUrlPath</key>
	<string>/session</string>
	<key>BaseScheme</key>
	<string>https</string>
	<key>NhsOnlineRequiredQueryString</key>
	<string>?source=ios</string>
	<key>CheckSymptomsUrlPath</key>
	<string>/check-your-symptoms</string>
	<key>AppScheme</key>
	<string>nhsapp</string>
	<key>ResponseWaitingTime</key>
	<integer>10</integer>
	<key>MedicalRecordAbbreviationsURL</key>
	<string>https://www.england.nhs.uk/participation/resources/involvejargon/</string>
	<key>HelpURL</key>
	<string>https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/</string>
	<key>TermsAndConditionsURL</key>
	<string>https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/terms-of-use/</string>
	<key>PrivacyPolicyURL</key>
	<string>https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy-policy/</string>
	<key>CookiesPolicyURL</key>
	<string>https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/cookies-policy/</string>
	<key>OpenSourceLicensesURL</key>
	<string>https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/open-source-licences/</string>
</dict>
</plist>
