<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <TestRunParameters>
        <Parameter name="ApigeeApiKey" value="INVALIDVALUE" />
        <Parameter name="ApplicationUrl" value="https://internal-dev.api.service.nhs.uk/nhs-app/" />
        <Parameter name="SendToNhsNumbers" value="9487416153,8061422395" />
        <Parameter name="SendToOdsCode" value="A00002" />
    </TestRunParameters>
</RunSettings>
