<?xml version="1.0" encoding="utf-8"?>
	<RunSettings>
	    <TestRunParameters>
	        <Parameter name="ApplicationUrl" value="https://internal-dev.api.service.nhs.uk/nhs-app/" />
	        <Parameter name="SendToNhsNumber" value="9487416153" />
	        <Parameter name="TokenEndpoint" value="https://internal-dev.api.service.nhs.uk/oauth2/token" />
	        <Parameter name="IssuerKey" value="APP API KEY GOES HERE" />
	        <Parameter name="PrivateKeyFilePath" value="PATH TO PRIVATE KEY FILE GOES HERE" />
	        <Parameter name="KidValue" value="KID VALUE GOES HERE" />
	    </TestRunParameters>
	</RunSettings>
