@model string
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>NHS Login Stubbed - Not Found</title>
</head>
<body>
<div class="container">
    <h1 class="display-4">NHS Login - Not Found</h1>
    <ul>
        <li><a href="javascript: window.history.back();">Back</a></li>
        <li><a href="http://@Model:8080/citizenid/Page/Internal.html">Internal Page</a></li>
        <li><a href="http://@Model:8080/citizenid/Page/Other.html">Other Page</a></li>
        <li><a href="http://stubs.local.bitraft.io:8080/nhsuk/covid">Covid</a></li>
    </ul>
</div>
</body>
</html>