//* COLOURS */
$white: #ffffff;
$dark_white: #f0f0f0;
$background: #e8edee;
$nhs_blue: #005EB8;
$dark_blue: #003087;
$light_green: #006747;
$dark_green: #004D34;
$mid_grey: #979797;
$light_grey: #B5B5B5;
$dark_grey: #4A4A4A;
$black: #231F20;
$warning: #FCED66;
$error: #DA291C;
$red: #D40003;
$home_gradient: radial-gradient(#0072DF 0%, #0053A3 100%);
