//* COLOURS */
$white: #ffffff;
$background: #e8edee;
$nhs_blue: #005EB8;
$dark_blue: #003087;
$light_green: #006747;
$dark_green: #004D34;
$light_grey: #979797;
$dark_grey: #4A4A4A;
$black: #231F20;
$warning: #FCED66;
$error: #DA291C;
$home_gradient: radial-gradient(#ff0000 0%, #0053A3 100%);