@import './colours';

@mixin menu_stoke {
  fill:none;
  stroke:#606060;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:4px;
  transition: all ease 0.5s;
}
svg {
  .menu_stroke {
    fill: none;
    stroke: #606060;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
    transition: all ease 0.5s;
  }
  .symptoms_middle {
    fill: #606060;
  }
  .icon-account {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
  }
}

.icon {
  width: 34px;
  min-width: 34px;
  height: 34px;
  padding-top: 8px;
  box-sizing: border-box;
  background-color: $nhs_blue;
  text-align: center;
  svg {
    height: 14px;
  }
}

.warning {
  background-color: #000;
}

.error {
  background-color: $error;
}

