@import './colours';
@import './fonts';
.msg {
  width: 100%;
  height: auto;
  background-color: $white;
  border-top: 1px $nhs_blue solid;
  margin-bottom: 16px;
  padding-bottom: 16px;
  p {
    padding-left: 16px;
    margin: 0px;
    display: block;
    font-family: $default;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $dark_grey;
    margin-top: 14px;
    &.header {
      margin-bottom: -14px;
      font-weight: bold;
    }
  }
  &.warning {
    background-color: $warning;
    border-top-color: #000;
  }
  &.error {
    border-top-color: $error;
  }
}
