$one : 5px;
$two : 10px;
$three : 20px;
$four : 30px;
$five : 40px;
$six: 50px;
$seven: 60px;
$marginBottomFullScreen: 80px;

@mixin space($type:margin, $direction:all, $amount:$one){
  @if $type == padding {
    @if $direction == all{
      padding: $amount;
    } @else if $direction == top {
      padding-top:$amount
    } @else if $direction == left {
      padding-left:$amount
    } @else if $direction == right {
      padding-right:$amount
    } @else {
      padding-bottom:$amount
    }
  } @else {
    @if $direction == all{
      margin: $amount;
    } @else if $direction == top {
      margin-top:$amount
    } @else if $direction == left {
      margin-left:$amount
    } @else if $direction == right {
      margin-right:$amount
    } @else {
      margin-bottom:$amount
    }
  }
}
