/** IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://beta.nhs.uk/static/beta/css/expo2017/fonts/frutiger-light.css");
/** COLOURS */
/** FONTS */
/** TEXT STYLES */
/** HTML */
body {
  padding: 0px;
  margin: 0px;
  background: #e8edee;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4A4A4A; }

* {
  padding: 0;
  margin: 0; }

/** BUTTONS */
button {
  font-family: "Frutiger W01", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #005EB8;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 0px #003087;
  margin-top: 16px;
  outline: none; }

header {
  background: #005EB8;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  header h1 {
    font-family: "Frutiger W01", Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center; }
  header .nhs_logo {
    margin: 16px;
    height: 22px;
    float: left; }
  header .account {
    margin: 16px;
    float: right;
    height: 22px; }
  header hr {
    margin: 54px 16px 9px 16px;
    height: 1px;
    border: none;
    background-color: white;
    opacity: 0.4; }

nav {
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  nav ul {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 6px;
    padding-right: 6px; }
    nav ul li {
      flex-grow: 1;
      text-align: center;
      vertical-align: bottom;
      list-style: none;
      margin-top: 4px;
      align-self: stretch;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      text-align: center; }
      nav ul li svg {
        display: block;
        align-self: center;
        flex-grow: 1;
        /*width: 100%;*/ }
      nav ul li label {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 9px;
        text-transform: uppercase;
        line-height: 10px;
        color: #4A4A4A;
        display: block;
        box-sizing: border-box;
        align-self: flex-end;
        text-align: center;
        width: 100%;
        margin-top: 2px; }

main {
  padding: 116px 16px 90px 16px; }
