@import '../colours';

.list-menu {
  border-top:none !important;
}

.fieldName {
   padding-left:0em;
   padding-bottom: 0.250rem;
   color: $dark_grey;
   font-weight: 700;
 }

 .webHeader {
   padding: 3.625em 0em 3.125em 0em;
 }
 
 .no-decoration {
   text-decoration: none;
 }
