ul {
  li {
    margin-left: 1em;
  }
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  visibility: hidden;
}

h2 {
  padding-bottom: 0;
  padding-top: 0.5em;
}

h3 {
  font-size: 1em;
  padding-bottom: 0;
  padding-top: 1em;
}

.headerPadding {
  padding-top: 3.125em;
}

.availableFeatures {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  left: -0.5rem;
  list-style: url('~assets/icon_checked_tick.svg');
}

.unavailableFeatures {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  li {
    margin-left: 1.5em;
  }
}

.continue {
  margin-top: 1em;
}

.createAccountMessage {
  padding-top: 0.5em;
}

.linkBack{
  text-decoration: underline;
  /* TODO: Needed for native?
  /* font-weight: bold; */
  font-size: 1em;
  box-sizing: content-box;
  color: $nhs_blue;
  padding-top: 0.5em
}

