@import '../colours';

.fieldName {
   padding-left:0em;
   padding-bottom: 0.250rem;
   color: $dark_grey;
   font-weight: 700;
}

.no-decoration {
  text-decoration: none;
}

#errorContent {
  padding: 0.5em 0;
  word-wrap: break-word;
}

.back {
  margin-top: 1em;
}

.technicalError {

  h3, p {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.tooManyResultsError {
  padding-bottom: 1em;

  hr {
    margin-top: 1em;
  }
}

.searchResult {
  p {
    padding-bottom: 1em;
  }
}


