@import '../colours';

ul.list-menu {
  border-top:none !important;
  
  li {
    padding-left: 0;

    &:first-of-type{
      padding-top: 0;
    }
  }
}

.fieldName {
   padding-left:0em;
   padding-bottom: 0.250rem;
   color: $dark_grey;
   font-weight: 700;
}
 
 .no-decoration {
   text-decoration: none;
 }
