.goToHomeScreenButton {
  margin-top: 2em;
}

p:nth-of-type(2):not(:last-of-type),
h2:not(:first-of-type) {
    margin-top: 1em;
}

p:last-of-type {
  margin-top: 1em;
}
h4 {
  letter-spacing: initial;
}

.choiceRadioButton {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  &.last {
    margin-bottom: 1.5em;
  }
}

.signup {
  margin-top: 1.5em;
}

.privacyStatement {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

a.paragraph-link {
    display: inline-block;
    margin-top: -0.125em;
    outline-color: $focus_highlight;
}
