#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  .throttlingHeader.notSlim {
    display: flex;
    flex: 1;

    &+.throttlingContent {
      display: flex;
      flex-direction: column;
    }
  }
  
  .throttlingContent {
    margin-left: 0.313em;
    margin-right: 0.313em;
  }
}
