@import '../colours';

.banner {
  background: $white;
  padding: 1em;
  box-shadow: 0em 0.03em 0.313em rgba(0, 0, 0, .5);
  width: 100%;
  text-align: start;
}

.statusLabel {
  margin-right: 0.626em;
}

.statusMessage {
  display: inline;
}
