.throttlingContent {
  margin-left: 0.313em;
  margin-right: 0.313em;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

.webHeader {
  padding-top: 1em;
  padding-bottom: 3.125em;
}

#error-label {
  font-size: 1em;
}

.errorMessageContainer {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
}
a {
  font-weight: normal;
  text-decoration: underline;
}

.throtlingLink {
  text-decoration: underline;
  display: inline;
}

.throtlingLink:focus{
  background: $focus_highlight;
  box-shadow: 0 0 0 4px $focus_highlight;
  color: $black;
  outline: 0;
  width: auto;
}

.throtlingLink:hover{
  background: $hover_highlight;
  box-shadow: 0 0 0 4px $hover_highlight;
  color: $black;
  width: auto;
  text-decoration: underline;
}
