.throttlingContent {
  margin-left: 0.313em;
  margin-right: 0.313em;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

.webHeader {
  padding-top: 1em;
  padding-bottom: 3.125em;
}

#error-label {
  font-size: 1em;
}

.errorMessageContainer {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
}
a {
  font-weight: normal;
  text-decoration: underline;
}
