@import './textstyles';

/** APPOINTMENTS */
.appointmentTime {
    &.desktopWeb{
      max-width: 560px;
      padding-right: 1em;
    }
	h2 {
		@include h2Appointment;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
        &.desktopWeb{
          font-family: $default-web;
          font-weight: lighter;
        }
	}
	.selector {
		margin-bottom: 1em;
	}
}

.appointmentTimeSelector {
  margin-bottom: 1em;
}
