/** BUTTONS */
@import './colours';
@import './textstyles';
@import './desktopWeb/accessibility';

a.button {
  text-decoration: none;
  text-align: center;

  :focus {
    outline-color: $focus_highlight;
    box-shadow: inset 0 0 0 4px $focus_highlight;
    outline-offset: -5px;
  }
}

a.button:focus {
  outline-color: $focus_highlight;
  box-shadow: 0 0 0 4px $focus_highlight;
}

@mixin button-core {
  @include button;
  box-sizing: border-box;
  padding: 0.625em;
  background-color: $nhs_blue;
  border: none;
  border-radius: 0.125em;
  margin-bottom: 1.250em;
  transition: all ease 0.5s;
  white-space: normal;
  cursor: pointer;
  width: 100%;
  &:focus {
    outline-color: $focus_highlight;
    box-shadow: inset 0 0 0 4px $focus_highlight;
    outline-offset: -5px;
  }
  &:hover {
    outline-color: $focus_highlight;
    box-shadow: inset 0 0 0 4px $focus_highlight;
    outline-offset: -5px;
  }
  &.web {
    margin-top: 1em;
  }

  &.tabFocus {
    outline-color: $focus_highlight !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }

  &.green {
    background-color: $light_green;
  }
  &.grey {
    background-color: $light_grey;
  }
  &.white {
    background-color: $white;
    color: $dark_grey;
  }

  &:active {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
  &.disabled {
    opacity: 0.5;
  }
  &.medium {
    width: inherit;
    min-width: 16em;
  }
}

.nhs-login {
  background-color: $nhs_blue;
}

.nhs-login:hover {
  background-color: $nhs_blue_med;
}

/** BUTTONS */
button.button,
a.button {
  @include button-core;
}

button.button-desktop,
a.button-desktop {
  @include button-core;
  width: auto;
  padding-left: 2em!important;
  padding-right: 2em!important;
}

button.link {
  background: none;
  border: none;
  font-size: 1em;
  margin: 0.5em 0;
  color: $nhs_blue;
  font-weight: bold;
  
  &:focus {
    @include linkFocusStyle;
  }

  &:hover {
    @include linkHoverStyle;
  }
}