/** BUTTONS */
@import './colours';
@import './textstyles';
a.button {
  text-decoration: none;
  text-align: center;
}

button.button,
a.button {
	@include button;
	box-sizing: border-box;
	width: 100%;
	padding: 0.625em;
	background-color: $nhs_blue;
	border: none;
	border-radius: 0.125em;
	box-shadow: 0em 0.125em 0em 0em $dark_blue;
	margin-bottom: 1.250em;
	outline: none;
	transition: -webkit-filter ease 0.5s;
	transition: filter ease 0.5s;
	white-space: normal;
	cursor: pointer;

	&:focus {
		outline-color: $focus_orange !important;
	}

	&.green {
		background-color: $light_green;
		box-shadow: 0em 0.125em 0em 0em $dark_green;
	}
	&.grey {
		background-color: $light_grey;
		box-shadow: 0em 0.125em 0em 0em $dark_grey;
	}
	&.white {
		background-color: $white;
		box-shadow: 0em 0.125em 0em 0em $light_grey;
		color: $dark_grey;
	}
	
	&:active {
		-webkit-filter: brightness(120%);
		filter: brightness(120%);
	}
	&.disabled {
		opacity: 0.5;
	}
}