//* COLOURS */

$white: #ffffff;
$background: #F0F4F5;
$nhs_blue: #005EB8;
$nhs_blue_med: #034484;
$nhs_orange: #ffb81c;
$dark_blue: #003087;
$light_green: #007F3B;
$dark_green: #005326;
$light_grey: #637683;
$dark_grey: #425563;
$grey_panel: #eceeef;
$border_grey: #D8DDE0;
$panel_grey: #AEB7BD;
$footer_bg: #D8DDE0;
$black: #212B32;
$warning: #fffbce;
$warning_title: #ffed00;
$error: #DA291C;
$red: #DA291C;
$error_dark: #BC2318;
$button_red: #b62217;
$button_red_focus: #921b13;
$home_gradient: radial-gradient(#0072DF 0%, #0053A3 100%);
$approved: #005326;
$awaiting: #b44f1c;
$focus_highlight: #ffb81c;
$hover_highlight: #ffcd60;
$medication_status_rejected: #990000;
$medication_status_requested: #F5A623;
$medication_status_approved: #427606;
$anchor_blue: #0000EE;
$mid_grey: #979797;
$checkbox_tick: #0059c1;
$purple: #330072;
