//* COLOURS */
@import '~nhsuk-frontend/packages/core/settings/colours';

$white: $color_nhsuk-white;
$background: $color_nhsuk-grey-5;
$nhs_blue: $nhsuk-link-color;
$nhs_blue_med: #034484;
$nhs_orange: $color_nhsuk-warm-yellow;
$dark_blue: #003087;
$hover_blue: #003d78;
$light_green: $color_nhsuk-green;
$dark_green: #005326;
$light_grey: #637683;
$dark_grey: #425563;
$grey_panel: #eceeef;
$border_grey: $nhsuk-border-color;
$panel_grey: $color_nhsuk-grey-3;
$footer_bg: $color_nhsuk-grey-4;
$black: $nhsuk-text-color;
$warning: #fffbce;
$warning_title: #ffed00;
$error: #da291c;
$red: #da291c;
$error_dark: #bc2318;
$button_red: #b62217;
$button_red_focus: #921b13;
$home_gradient: radial-gradient(#0072df 0%, #0053a3 100%);
$approved: #005326;
$awaiting: #b44f1c;
$focus_highlight: $color_nhsuk-warm-yellow;
$hover_highlight: #ffcd60;
$medication_status_rejected: #990000;
$medication_status_requested: #f5a623;
$medication_status_approved: #427606;
$anchor_blue: #0000ee;
$mid_grey: #979797;
$checkbox_tick: #0059c1;
$purple: $color_nhsuk-purple;
$panel_blue: #05538e
