//* COLOURS */

$white: #ffffff;
$background: #F0F4F5;
$nhs_blue: #005EB8;
$dark_blue: #003087;
$light_green: #007F3B;
$dark_green: #005326;
$light_grey: #637683;
$dark_grey: #425563;
$border_grey: #D8DDE0;
$black: #212B32;
$warning: #fffbce;
$warning_title: #ffed00;
$error: #DA291C;
$red: #DA291C;
$error_dark: #BC2318;
$home_gradient: radial-gradient(#0072DF 0%, #0053A3 100%);
$approved: #005326;
// $awaiting: #df6b31;//old
$awaiting: #b44f1c;

$data_sharing_link_hover: #FFCD60;
$data_sharing_link: #005EBB;

$medication_status_rejected: #990000;
$medication_status_requested: #F5A623;
$medication_status_approved: #427606;
$anchor_blue: #0000EE;
$mid_grey: #979797;