@import './colours';
@import './textstyles';
@import './screensizes';

.bottom-nav {
    margin-top: 2.5em;
}

h1.pageTitle {
    margin: 0.5em 0 0.5em;
    color: $dark_grey;
}

.button.green {
    margin-top: 2em;
    margin-bottom: 0;
}

#ndop-token-form {
    display: none;
}
