@import './colours';
@import './textstyles';

h2.title {
    font-size: 1.125em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a.paragraph-link {
    display: inline-block;
    margin-top: -0.125em;
    outline-color: $focus_highlight;
}

p, p+a{
    margin-bottom: 1em;
}

ul {

    margin-bottom: 1em;

    li {
        margin: 0 0 0.5em 1em;
    }
}
