@import './colours';
@import './textstyles';

h3.title {
    font-size: 1.375em;
    margin-top: 56px;
    margin-bottom: 12px;
}

a.paragraph-link {
    display: inline-block;
    margin-top: -0.25em;
}

p, a {
    line-height: 28px;
    font-size: 19px;
}

h3, p, a {
    font-family: $frutiger-roman;
}

p, p+a {
    margin-top: 24px;
}
