@import './colours';
@import './textstyles';

/** COMMON ELEMENTS */
h2 {
	@include h2;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
h3 {
	@include h3;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

h4 {
	@include h4;
	padding-bottom:0.25em;
	padding-top:0.25em;
}

a {
	@include default_text;
	color: $nhs_blue;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;

	h2 {
		color: $nhs_blue;
	}
}
p {
	@include default_text;
}
b,
strong,
label{
	@include default_label;
}
strong {
	display: inline-block;
}
hr {
	height: 0.063em;
	border: none;
	background-color: $border_grey;
    opacity: 0.25;
}
