@import './desktopWeb/accessibility';
@import './colours';
@import './textstyles';

/** COMMON ELEMENTS */
h2 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

h3 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

h4 {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

a {
  @include default_text;
  color: $nhs_blue;
  vertical-align: middle;

  h2 {
    color: $nhs_blue;
  }
}

p {
  @include default_text;
}

input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 0 4px #ffb81B;
}

a, button {
  input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 0 4px #ffb81B;
  }

  &:focus {
    @include outlineStyle
  }
}

.desktopWeb {
  a, button {
    &:hover {
      @include outlineStyleLight;
    }
  }
}

b,
strong,
label {
  @include default_label;
}

strong {
  display: inline-block;

  &.inline {
    display: inline;
  }
}

hr {
  height: 1px;
  border: none;
  background-color: $panel_grey;
  opacity: 0.25;
}

::-moz-focus-inner {
  border: none;
}

::-moz-focus-inner {
  border: none;
}
