@import './colours';
@import './textstyles';
@import './fonts';

// ERROR AND VALIDATION
.validation-inline {
	& > p.validation-text {
		& > svg {
			margin-bottom: -2px !important;
		}
	}
}
.validation-border-left {
	border-left: 4px $error solid !important;
	padding-left: 1em !important;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.validation-border {
	border: 3px $error solid !important;
	padding-left: 1em !important;
}
.validation-select-border {
	border: 3px $error solid !important;
	padding-left: 0em !important;
}
.validation-text {
	padding-bottom: 0em !important;
  	font-weight: 700 !important;
	color: $error_dark !important;

	&.desktopWeb {
		color: $error !important;
	}
}
