//@import url('https://assets.nhs.uk/fonts/nhsuk-fonts-1.1.0.css');
//@import url('https://beta.nhs.uk/static/beta/css/expo2017/fonts/frutiger-light.css');

@font-face{
  font-family:"FrutigerLTW01-76BlackItalic";
  font-display: swap;
  src: local("FrutigerLTW01-76BlackItalic"),
       url("/fonts/FrutigerLTW01-76BlackItalic.eot?#iefix"),
       url("/fonts/FrutigerLTW01-76BlackItalic.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-76BlackItalic.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-76BlackItalic.woff") format("woff"),
       url("/fonts/FrutigerLTW01-76BlackItalic.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-76BlackItalic.svg#24df08f2-b418-49de-8eca-745947092d72") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-65Bold";
  font-display: swap;
  src: local("FrutigerLTW01-65Bold"),
       url("/fonts/FrutigerLTW01-65Bold.eot?#iefix"),
       url("/fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-65Bold.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-65Bold.woff") format("woff"),
       url("/fonts/FrutigerLTW01-65Bold.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-45Light";
  font-display: swap;
  src: local("FrutigerLTW01-45Light"),
       url("/fonts/FrutigerLTW01-45Light.eot?#iefix")
       url("/fonts/FrutigerLTW01-45Light.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-45Light.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-45Light.woff") format("woff"),
       url("/fonts/FrutigerLTW01-45Light.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-45Light.svg#29f3ff8a-1719-4e25-a757-53ee1a1114a5") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-66BoldItalic";
  font-display: swap;
  src: local("FrutigerLTW01-66BoldItalic"),
       url("/fonts/FrutigerLTW01-66BoldItalic.eot?#iefix"),
       url("/fonts/FrutigerLTW01-66BoldItalic.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-66BoldItalic.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-66BoldItalic.woff") format("woff"),
       url("/fonts/FrutigerLTW01-66BoldItalic.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-66BoldItalic.svg#8ad009ab-a7e5-4acb-8ca5-326d2a759924") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-55Roman";
  font-display: swap;
  src: local("FrutigerLTW01-55Roman"),
       url("/fonts/FrutigerLTW01-55Roman.eot?#iefix"),
       url("/fonts/FrutigerLTW01-55Roman.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-55Roman.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-55Roman.woff") format("woff"),
       url("/fonts/FrutigerLTW01-55Roman.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-95UltraBlack";
  font-display: swap;
  src: local("FrutigerLTW01-95UltraBlack"),
       url("/fonts/FrutigerLTW01-95UltraBlack.eot?#iefix"),
       url("/fonts/FrutigerLTW01-95UltraBlack.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-95UltraBlack.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-95UltraBlack.woff") format("woff"),
       url("/fonts/FrutigerLTW01-95UltraBlack.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-95UltraBlack.svg#3b96d0b6-5de6-4fb0-9884-b645e55d01c4") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-56Italic";
  font-display: swap;
  src: local("FrutigerLTW01-56Italic"),
       url("/fonts/FrutigerLTW01-56Italic.eot?#iefix"),
       url("/fonts/FrutigerLTW01-56Italic.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-56Italic.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-56Italic.woff") format("woff"),
       url("/fonts/FrutigerLTW01-56Italic.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-56Italic.svg#141c0322-57c4-48ca-abb4-31688d659f7d") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-75Black";
  font-display: swap;
  src: local("FrutigerLTW01-75Black"),
       url("/fonts/FrutigerLTW01-75Black.eot?#iefix"),
       url("/fonts/FrutigerLTW01-75Black.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-75Black.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-75Black.woff") format("woff"),
       url("/fonts/FrutigerLTW01-75Black.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-75Black.svg#1c437efb-925e-4bc5-96d0-c706bb400696") format("svg");
}
@font-face{
  font-family:"FrutigerLTW01-46LightItalic";
  font-display: swap;
  src: local("FrutigerLTW01-46LightItalic"),
       url("/fonts/FrutigerLTW01-46LightItalic.eot?#iefix") ,
       url("/fonts/FrutigerLTW01-46LightItalic.eot?#iefix") format("eot"),
       url("/fonts/FrutigerLTW01-46LightItalic.woff2") format("woff2"),
       url("/fonts/FrutigerLTW01-46LightItalic.woff") format("woff"),
       url("/fonts/FrutigerLTW01-46LightItalic.ttf") format("truetype"),
       url("/fonts/FrutigerLTW01-46LightItalic.svg#cd75c3e3-c5b7-4a25-9498-cabe4e8a9076") format("svg");
}


//* FONTS */
$frutiger-roman: "FrutigerLTW01-55Roman", Arial, sans-serif;
$frutiger-light: "FrutigerLTW01-45Light", Arial, sans-serif;
$frutiger-bold: "FrutigerLTW01-65Bold", Arial, sans-serif;
$default: 'Roboto', Arial, sans-serif;
$default-web: Arial, sans-serif;
