@import "./colours";
@import './desktopWeb/accessibility';
@import './screensizes';
@import './textstyles';

.footer {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1em;
  background-color: $footer_bg;
  border-top: 4px solid $nhs_blue;
  font-family: $default-web;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  .footer-content {
    @include main-container-width;
    margin: 0 auto;
    padding-left: 0.5em;

    .visually-hidden {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    ul {
      padding-bottom: 1em;
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      li {
        font-weight: 400;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.71429;
        margin-bottom: 0.5rem;
      }
    }

    a {
      line-height: inherit;
      color: $dark_grey;
      text-decoration: underline;
      font-weight: normal;

      &:visited {
        color: $dark_grey;
      }

      &:focus {
        @include actionLinkHighlightStyle;
        background-color: $focus_highlight;
      }
      &:hover {
        @include linkHoverStyle;
      }
    }

    .footer-copyright {
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.71429;
      color: $dark_grey;
      margin-bottom: 0;
    }
  }
}

@include medium-screen {
  .footer {
    .footer-content {
      ul {
        padding-bottom: 1.5em;

        li {
          font-size: 16px;
          font-size: 1rem;
          line-height: 1.5;
        }
      }

      .footer-copyright {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
}

@include fromTablet {
  .footer {
    padding-bottom: 2em;

    .footer-content {
      margin-left: 2em;
      margin-right: 2em;

      ul {
        float: left;
        padding-bottom: 0;
        width: 75%;

        li {
          float: left;
          margin-right: 2em;
        }
      }

      .footer-copyright {
        float: right;
        text-align: right;
        width: 25%;
      }
    }
  }
}

@include fromDesktop {
  .footer {
    .footer-content {
      margin: 0 auto;
    }
  }
}

@media print {
  .footer {
    display: none;
  }
}
