
@import './colours';
@import './textstyles';
@import './formspanelshared';

.form {
	h3 {
		@include h3;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	label {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	b {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}

	input[type=text], input[type=number], input[type=tel],
	textarea {
		width: 100%;
		box-sizing: border-box;
		background-color: $white;
		border-radius: 0.313em;
		padding: 1em;
		border: 0.063em $light_grey solid;
		outline: none;
    transition: all ease 0.5s;
		@include default_text;

		&.error {
			border: 0.063em $error solid;
		}

    &.tabFocus {
			border: 0.063em $focus_highlight solid;
			outline-color: $focus_highlight !important;
			outline-width: 6px !important;
			outline-style: solid !important;
			-webkit-filter: brightness(120%);
			filter: brightness(120%);
      .timeSlot{
        outline-width: 6px;
      }
		}
	}
	input[type=text], input[type=number], input[type=tel] {
		height: 3.125em;
	}
	textarea {
		min-height: 6.250em;
	}
}

.checkbox-panel {
	display: flex;
	margin-top: 1em;
	&.tabFocus {
		outline-color: $focus_highlight !important;
		outline-width: 2px !important;
		outline-style: solid !important;
		-webkit-filter: brightness(120%);
		filter: brightness(120%);
	}
	.checkbox {
		margin-right: 1em;
		flex: 0 0 1.5em;
    -webkit-appearance: none;
	}
	label {
		padding-top: 0.125em;
	}
}

.radio-adjusted {
	margin-left: 2.5em;
}

// generic checkbox supports no js
.checkbox {
	position: relative;
	padding-top: 0.25em;
	padding-bottom: 0.25em;

	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;

		+ label::after {
			content: none;
		}

		&:checked + label::after {
			content: "";
		}
	}

	label {
		position: relative;
		display: inline-block;
		padding-left: 2.5em;

		&::before {
			height: 1.5em;
			width: 1.5em;
			border: 1px $light_grey solid;
			border-radius: 0.313em;
			left: 0px;
			top: 0px;

		}
    &:focus {
      outline: none;
      &::before {
        outline-color: $focus_highlight;
        box-shadow: 0 0 0 4px $focus_highlight;
        outline-offset: -5px;
      }
    }
    &:hover {
      outline: none;
      &::before {
        outline-color: $focus_highlight;
        box-shadow: 0 0 0 4px $focus_highlight;
        outline-offset: -5px;
      }
    }
		&::after {
			height: 0.375em;
			width: 0.813em;
			border-left: 2px $checkbox_tick solid;
			border-bottom: 2px $checkbox_tick solid;
			transform: rotate(-45deg);
			left: 0.375em;
			top: 0.438em;
		}

		&::before,
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
		}
	}
}
