@import './colours';
@import './textstyles';

header.slim {
	background: $nhs_blue;
	color: $white;
	position: fixed;
	top: 0em;
	left: 0em;
	right: 0em;
	height: 3.125em;
	box-shadow: 0em 0em 0.313em rgba(0, 0, 0, .5);
	z-index: 1000;

	h1 {
		@include screen_title;
		text-align: center;
		margin-top: 0.750em;
		margin-right: 1.875em;
		margin-left: 1.875em;
	}

	button {
		top: 0em;
		position: absolute;
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 1em;
	}

	svg {
		float: left
	}

	&.cid {
		background-color: #eee;
	}
}
