/** VARS */
$logged_height: 12em; //16.5em

/** IMPORTS */
@import './colours';
@import './textstyles';
@import './screensizes';
@import './fonts';
@import './desktopWeb/accessibility';

html {
  font: $apple-system-body;
}

/** APP */
body {
    padding: 0;
    margin: 0;
	min-height: 31.250em;
    background: $white;
    @include default_text;
  @include mobileAndBelow;
  @include tabletOnly;
  @include fromDesktop;
}

.nhsoLogo {
  margin-top: 3em;
  box-sizing: border-box;
}

.adviceBanner {
    text-align: center;
    width: 100%;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 1em;
    border-top: 0.063em rgba(255, 255, 255, .4) solid;

    h2 {
        @include h2Home;
        margin-bottom: 1em;
    }

    button.button {
        margin-bottom: 0.313em;
    }
}

header.logged {
    bottom: $logged_height;
}

.homeMain {
    box-sizing: border-box;
    padding: 1em;

    h2 {
        @include h2;
        margin-bottom: 0.750em;
        text-align: center;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    a {
        @include default_text;
        color: $nhs_blue;
        width: 100%;
        text-align: center;
    }
}

@mixin loginMain-core {
    margin-bottom: 3em;
    padding-right: 0.3em;

    h2 {
        @include h2;
        margin-bottom: 0.750em;
    }

    h5 {
        @include h5;
        color: $dark_grey;
    }

    a {
        @include default_text;
        color: $nhs_blue;
        width: 100%;
        display: inline;
        cursor: pointer
    }
}
.checkFeaturesLink {
    cursor: pointer;
    text-decoration: underline;
  &.desktopWeb {
    display: inline;
  }
}

.checkFeaturesLink:focus{
  background: $focus_highlight;
  box-shadow: 0 0 0 4px $focus_highlight;
  color: $black;
  outline: 0;
  width: auto;
}
.checkFeaturesLink:hover{
  background: $hover_highlight;
  box-shadow: 0 0 0 4px $hover_highlight;
  color: $black;
  width: auto;
  text-decoration: underline;
}

.loginMain {
    @include loginMain-core;
    h2 {
        text-align: center;
    }

    a {
        text-align: center;
        display: inline;
        cursor: pointer;
    }
}

.loginMain-desktop {
    @include loginMain-core;
    margin-bottom: 1.250em;

    h2 {
        padding-top: 0.5em;
    }
}

main.logged {
    height: $logged_height;
    overflow: auto;
}
