@import './colours';

/** ICONS */
svg {
	width: auto;
	height: auto;
	.canvas {
		fill: none;
	}
	.menu_stroke {
		fill: none;
		stroke: $dark_grey;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 0.3em;
		transition: all ease 0.5s;
	}
	.symptoms_middle {
		fill: $dark_grey;
	}
	.icon-account {
		fill: none;
		stroke: $white;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 0.4em;
	}
}

.nhsuk-icon__arrow-right-circle-desktop {
  fill: #007f3b;
  height: 40px;
  left: -3px;
  position: absolute;
  top: -4px;
  width: 40px;
}

.nhsuk-icon, .nhsuk-icon__arrow-right-circle {
  fill: #007f3b;
  height: 35px;
  left: -3px;
  position: absolute;
  top: -4px;
  width: 35px;
}

@media only screen and (max-width:640px) {
  .nhsuk-icon__arrow-right-circle-desktop {
    height: 34px;
    margin-bottom: -9px;
    top: -3px;
    width: 34px;
  }
}

@media only screen and  (max-width: 40.0525em){
  .nhsuk-action-link__link {
    padding-left: 36px;
  }
}

