@import './colours';

/** ICONS */
svg {
	width: auto;
	height: auto;
	.canvas {
		fill: none;
	}
	.menu_stroke {
		fill: none;
		stroke: $dark_grey;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 0.3em;
		transition: all ease 0.5s;
	}
	.symptoms_middle {
		fill: $dark_grey;
	}
	.icon-account {
		fill: none;
		stroke: $white;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 0.4em;
	}
}