@import './colours';
@import './textstyles';

.info {
    font-size: 1em;
	margin-bottom: 1em;
	p {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	h3 {
		@include h3;
		padding-top: 1em;
	}
	h4 {
		@include h4;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	a {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	a.info-link {
		display: inline-block;
		font-size: 1em;
		font-style: normal;
    }

    ul {
		li {
			margin-left: 2em;
			padding-bottom: 0.5em;
			padding-top: 0.5em;
		}
	}

    strong {
      @include default_label;
    }
}
