@import './colours';
@import './textstyles';
@import './fonts';
@import './arrow';

.list-menu {
  font-size: 1em;
  list-style: none;

  p {
    padding-bottom: 0.5em;
    padding-top: 0.250em;

    &.desktopWeb {
      font-family: $default-web;
      font-weight: 300;
    }
  }

  li {
    padding-left: 0;
    margin: 5px -16px 1em;
    :focus {
      outline: none;
    }

    p {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }

    h3 {
      @include h3;
      padding-top: 1em;
    }

    h4 {
      @include h4;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }

    a {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      padding-left: 0.7em;
      margin: 0 0.25em 0 0.25em;
    }

    a.info-link {
      display: inline-block;
      font-size: 1em;
      font-style: normal;
    }

    a.active {
      outline: none;
      text-decoration: underline;
    }
  }
}

@mixin ul-list-menu {
  list-style: none;
  padding-left: 0;

  li {
    box-sizing: border-box;
    @include icon-arrow-left-white-background;
    position: relative;
    margin-bottom: 5px;
    margin-left: -16px;

    border-top: 1px $border_grey solid;
    border-bottom: 1px $border_grey solid;

    a {
      padding-right: 3em;
      font-size: 1em;

      h2 {
        margin: 0;
      }
    }

    p {
      margin-bottom: 0;
    }

    &.link {
      padding: 0;

      a {
        padding: 1em 3em 1em 1em;
      }
    }
  }
}

ul.list-menu {
  @include ul-list-menu;
}

ul.list-menu-white {
  @include ul-list-menu;

  li {
    @include icon-arrow-left-white-background;
    background: 12px;
    padding: 1em;
  }
}
