/** IMPORTS */
@import './colours';
@import './textstyles';
@import './screensizes';
@import './fonts';
/** APP */
html {
  font: $apple-system-body;
}

.__nuxt-error-page {
  display: none !important;
}

body {
	padding: 0;
	margin: 0;
	background: $background;
	@include default_text;
	font-family: $default;
	@include phoneOld {
		font-size: 0.875em;
	}
	@include phone {
		font-size: 1em;
	}
	@include tablet {
		font-size: 1.225em;
	}
	@include iPadPro {
		font-size: 1.6em;
	}
	@include desktop {
		font-size: 1em;
	}
}
* {
	padding: 0;
	margin: 0;
	text-rendering: optimizeSpeed;
}
$survey_open: 5.5em;
$survey_closed: 1.5em;

main.content {
  max-width: 960px;
  margin: 0 1em;
  box-sizing: border-box;
  width: 100%;
  &.web {
    min-height: calc(75vh );
  }

  &.survey-open {
		padding-bottom: 4.688em + $survey_open;
	}

	&.survey-closed {
		padding-bottom: 4.688em + $survey_closed;
	}

	&.native {
		padding: 0 2em 4.688em 0;

		&.survey-open {
			padding-bottom: 1em + $survey_open;
		}

		&.survey-closed {
			padding-bottom: 1em + $survey_closed;
		}
	}

	&.slim {
		padding: 4.125em 1em 4.688em 1em;
	}
	&.nopadding {
		padding: 6.250em 0 3.125em 0;
	}
	&.slim.nopadding  {
		padding: 3.125em 0 3.125em 0;
	}
}


@media (min-width: 48.0625em) {
	main.content {
		margin: 0 32px;
	}

	main.content > div {
		padding: 0 16px;
	}
}

@media (min-width: 1024px) {
	main.content {
		margin: 0 auto;
	}
}
