/** IMPORTS */
@import './colours';
@import './textstyles';
@import './screensizes';
@import './fonts';
@import './webshared';

/** APP */
html {
  font: $apple-system-body;
}

.__nuxt-error-page {
  display: none !important;
}

body {
	padding: 0;
	margin: 0;
	background: $background;
	@include default_text;
	@include mobileAndBelow;
	@include tabletOnly;
	@include fromDesktop;

	.web {
		min-height: 100vh;
		height: 100%;
	}
}
* {
	padding: 0;
	margin: 0;
	text-rendering: optimizeSpeed;
}
$survey_open: 5.5em;
$survey_closed: 1.5em;

main.content {
  @include main-container-width;
  margin: 0 1em;
  box-sizing: border-box;
  width:  auto;
  display: block;

  &.desktopWeb {
	  min-width: 200px;
      cursor: default;
  }

  &.web {
    min-height: calc(75vh );
  }

  &.survey-open {
		padding-bottom: 4.688em + $survey_open;
	}

	&.survey-closed {
		padding-bottom: 4.688em + $survey_closed;
	}

	&.native {
		padding: 0 0 4.688em 0;

		&.survey-open {
			padding-bottom: 1em + $survey_open;
		}

		&.survey-closed {
			padding-bottom: 1em + $survey_closed;
		}
	}

	&.slim {
		padding: 4.125em 1em 4.688em 1em;
	}
	&.nopadding {
		padding: 6.250em 0 3.125em 0;
	}
	&.slim.nopadding  {
		padding: 3.125em 0 3.125em 0;
	}
}

.nhsuk-login {
  background-color: $nhs_blue !important;
}
.nhsuk-login:hover, nhsuk-login:focus {
  background-color: $nhs_blue_med !important;
}
.nhsuk-button:hover {
  box-shadow: 0 0 0 4px $hover_highlight;
  outline: none;
}

.nhsuk-button:focus {
  box-shadow: 0 0 0 4px $focus_highlight;
  outline: none;
}

@include fromTablet {
	main.content {
		margin-left: 1em;
	}

	main.content > div {
		padding: 0 2em;
	}
}

@include fromDesktop {
	main.content > div {
	        padding: 0 1em;
	}

	main.content {
		margin: 0 auto;
	}
}
