@import './colours';
@import './textstyles';


/** MEDICAL RECORD */
a.record-title {
	@include h3;
	color: $nhs_blue;
	padding: 1em;
	padding-right: 1.875em;
	box-sizing: border-box;
	background: transparent url('~/assets/icon_arrow_left.svg') no-repeat center right;
	background-position: right 1em center;
	transition: background ease 0.5s;
	border-bottom: 0.125em solid $white;
	margin: 0em;

	&.opened {
		background: transparent url('~/assets/icon_arrow_down.svg') no-repeat center right;
		background-position: right 1em center;
	}
	&.closed {
		background: transparent url('~/assets/icon_arrow_left.svg') no-repeat center right;
		background-position: right 1em center;
	}
}
