@import './colours';
@import './textstyles';
@import './arrow';

/** MEDICAL RECORD */
a.record-title {
	@include h3;
	color: $nhs_blue;
	padding: 1em;
	padding-right: 1.875em;
	box-sizing: border-box;
	@include icon-arrow-left;
	transition: background ease 0.5s;
	margin: 0.5em 0 0 0;
  cursor: pointer;

	&.opened {
		@include icon-arrow-down;

		border-bottom: none;

	}
	&.closed {
		@include icon-arrow-left;
		border-bottom: 0.125em solid $white;
	}
}
