@import './colours';
@import './textstyles';
div.record-content {
  background: $white;
  box-sizing: border-box;
  height: auto;
  overflow: auto;
  p,
  li {
    @include small_text;
    line-height: 2em;
    li,
    p {
      font-size: 1em;
    }
  }
  p {
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 1em;
    &:first-child {
      padding-top: 1em;
    }
    &:last-child {
      padding-bottom: 1em;
    }
  }
  li {
    list-style-type: none;
    margin-top: 0.5em;
    line-height: 1.5em;
  }
  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 3em;
  }
  label,
  b {
    @include small_label;
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-bottom: 0.250em;
    &:first-child {
      padding-top: 1em;
    }
  }
  hr {
    margin-bottom: 1em;
    border: none;
    height: 0.063em;
    background: $background;
    &:last-child {
      display: none;
    }
  }
  .record-item {
    li {
      padding-right: 1.2em;
    }
    p {
      padding-bottom: 0em;
    }
    hr {
      margin-bottom: 0em;
      margin-top: 1em;
      display: block;
    }
    &:last-child {
      padding-bottom: 1em;
      hr {
        display: none;
      }
    }
  }
  &.closed {
    max-height: 0;
    transition: max-height 0.5s ease 0.3s;
    ul,
    li,
    p,
    b,
    label,
    hr {
      opacity: 0;
      transition: opacity 0.5s linear;
    }
  }
  &.opened {
    max-height: 375.000em;
    transition: max-height 0.5s ease;
    ul,
    li,
    p,
    b,
    label,
    hr {
      opacity: 1;
      transition: opacity 0.1s linear 0.3s;
    }
  }
  .consultationHeader {
    margin-left:-0.75em; 
    .consultationTerm {
      li {
        display: list-item;
        list-style-type: disc;
        margin-left: -2em;
        li::before {
            content: '';
            height:1px;
        }
        .observationText {
         margin-left:2em; 
          li {
            list-style-type: none;
          }
          li::before{
            content: '- ';
          }
        }
      }
    }
  }
  .testResultLine {
    li {
      display: list-item;
      list-style-type: disc;      
      ul li
      {
        margin-left: -2em;
        list-style-position: outside;
        list-style-type: none;
      }
    }
  }
  .testResultNoChild {
    margin-left: 2em;
  }
  .eventLine {
    li {
      display: list-item;
      list-style-type: disc;
    }
  }
  .viewTestResult {
    padding-top: 0.75em;   
  }
}
