
@import './colours';
@import './fonts';
@import './textstyles';

.msg {
	width: 100%;
	height: auto;
	background-color: $white;
	border-top: 0.250em $nhs_blue solid;
	margin-bottom: 1em;
	margin-top: 2.125em;
	padding-bottom: 0.850em;
	&.desktopWeb {
		font-family: $default-web;
	}

	.msg-content {
		padding-top: 1.125em;
	}
	.icon {
		@include h4;
		position: absolute;
		height: 2.125em;
		padding: 0.5em 1em 0.5em 1em;
		box-sizing: border-box;
		background-color: $nhs_blue;
		text-align: center;
		margin-top: -1.125em;
		display: inline-block;
	}
	&.success {
		.icon {
			color: $white;
		}
	}
	&.warning {
		background-color: $warning;
		border-top: none;
		.icon {
			background-color: $warning_title;
		}
	}
	&.error {
		border-top-color: $error;
		.icon {
			background-color: $error;
			color: $white;
		}
	}
  &.message {
    border-top-color: $purple;
    border-top: none;
    .icon {
      background-color: $purple;
      color: $white;
    }
  }
}
