@import './colours';
@import './textstyles';

nav.menu {
    background-color: $white;
    position: fixed;
    touch-action: none;
    bottom: 0em;
    left: 0em;
    right: 0em;
    height: 4.375em;
    box-shadow: 0em 0em 0.313em rgba(0, 0, 0, .5);
    z-index: 4;
    &.web {
      display: none;
    }
    ul {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 0.375em;
      padding-right: 0.375em;
      li {
        display: flex;
        flex-grow: 1;
        list-style: none;
        :focus {
          outline-color: $focus_highlight;
        }
        a {
        display: flex;
        flex-grow: 1;
        margin-top: 0.250em;
        justify-content: space-around;
        flex-direction: column;
        text-decoration: none;
        }
        span {
          @include menu;
          display: block;
          box-sizing: border-box;
          align-self: flex-end;
          text-align: center;
          width: 100%;
        }
      }
      li.active {
        span {
          @include menu_active;
        }
      }
    }
  }
