svg.menu {
    width: auto;
    max-width: 2.4em;
    height: 2.5em;
    align-self: center;
    flex-grow: 1;
    //margin:1em auto;
    .canvas {
		fill: none;
	}
    .menu_stroke {
        fill:none;
        stroke: $dark_grey;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 0.3em;
        transition: all ease 0.5s;
    }
    &.selected {
        .menu_stroke {
            stroke: $nhs_blue;
        }
    }
}