// Fix nopadding margina
.nopadding {
	.pull-content {
		padding-bottom: 2em;
	}
	.info {
		padding: 0em 1em 0em 1em;
	}
	h2 {
		margin-left: 0.7em;
		margin-top: 0.5em;
	}
	.error {
		margin: 1em;
		margin-top: 2em;
	}
}