/*Media Query Breakpoints*/
$mobile: 320px;
$tablet: 641px;
$desktop: 769px;
$large-desktop: 990px;

@mixin mobileAndBelow {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tabletOnly {
  @media (min-device-width: #{$tablet}) and (max-device-width: #{$desktop}) {
      @content;
  }
}

@mixin tabletAndBelow {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin fromMobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin fromTablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktopAndBelow {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin fromDesktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin desktopOnly {
  @media (min-device-width: #{$desktop}) and (max-device-width: #{$large-desktop}) {
    @content;
  }
}

@mixin fromLargeDesktop {
  @media (min-width: #{$large-desktop}) {
    @content;
  }
}

@mixin largeDesktopAndBelow {
  @media (min-width: #{$large-desktop}) {
    @content;
  }
}
