/** SELECT */

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border: 1px #979797 solid;
  border-radius: 4px;
  margin-bottom: 0.5em;
  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  &::after {
    /*  Custom dropdown arrow */
    /*content: "\25BC";*/
    content: url(~assets/icon_arrow_down.svg);
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.4em;
    top: 50%;
    margin-top: -.5em;
  }
  &::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  &.tabFocus {
    outline-color: $focus_highlight !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
  .custom-dropdown__select {
    padding-right: 2.5em;
    /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 4px;
    appearance: none;
  }
  .custom-dropdown__select_element {
    font-size: inherit;
    /* inherit size from .custom-dropdown */
    padding: .5em;
    /* add some space*/
    padding: 16px;
    width: 100%;
    margin: 0;
    /* remove default margins */
    outline: none;
  }
  .custom-dropdown__select--white {
    background-color: #fff;
    border: 1px #ffffff solid;
    color: #4a4a4a;
  }
}
