/** SELECT */

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 0.5em;
  outline-width: 6px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  &::after {
    /*  Custom dropdown arrow */
    /*content: "\25BC";*/
    content: url(~@/assets/icon_arrow_down.svg);
    height: 1em;
    right: 1.4em;
    top: 50%;
    margin-top: -.5em;
  }
  &::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  &.tabFocus {
    outline-color: $focus_highlight !important;
    outline-width: 4px !important;
    outline-style: solid !important;
  }
  .custom-dropdown__select {
    padding-right: 2.5em;
    border: 1px #979797 solid;
    border-radius: 4px;
    appearance: none;
    &:focus {
      box-shadow: 0 0 0 4px $focus_highlight;
      outline-color: transparent !important;
      outline-width: 4px !important;
      outline-style: solid !important;
    }
    &:hover {
      box-shadow: 0 0 0 4px $hover_highlight;
      outline-color: transparent !important;
      outline-width: 2px !important;
      outline-style: solid !important;
    }

  }
  .custom-dropdown__select_element {
    /* inherit size from .custom-dropdown */
    /* add some space*/
    padding: 16px;
    height: auto;
    width: 100%;
    margin: 0;
    /* remove default margins */
    outline: none;
  }
  .custom-dropdown__select--white {
    background-color: #fff;
    color: #4a4a4a;
  }
}
