@import "./buttons";
@import "./forms";
@import "./home";
@import "./colours";
@import "../style/desktopWeb/accessibility";

p {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  display: block;
}
a {
  text-decoration: none;
  vertical-align: baseline;
}
a:hover {
  text-decoration: underline;
}
strong {
  display: inline-block;
  color: #425563;
}

.info {
  margin-bottom: 0.5em;
  p a {
    display: inherit;
    text-decoration: underline;
  }
}

.termsAndConditionsCaption {
  a {
    display: inherit;
  }
}

ul {
  display: block;
  list-style-type: disc;
}

label {
  padding-top: 0.125em;
  padding-bottom: 0.5em;
}
button {
  -webkit-font-smoothing: antialiased;
}
.validationBorderLeft {
  border-left: 4px $error solid !important;
  padding-left: 1em !important;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.customErrorText {
  padding: 1em;
  padding-bottom: 0.150em;
  width: 100%;
  display: block;
  color: #212B32;
}

.customErrorBox {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-top: 0.25em #005EB8 solid;
  margin-bottom: 1em;
  margin-top: 2.125em;
  padding-bottom: 0.850em;
  ul li {
    padding-top: 0.25em;
    display: block;
    color: $error;

  }
  ul {
    list-style: none;
    padding: 0em 1em 0em 1em;
  }
}
.validationText {
  color: $error !important;
  font-weight: 700 !important;
  padding-bottom: 0em !important;
}

a {
  &:focus {
    @include linkFocusStyle;
  }

  &:hover {
    @include linkHoverStyle;
  }
}
