//* TEXT STYLES */
@import './fonts';
@import './colours';
@import './desktopcomponentsizes';

@mixin h1 {
	display: block;
	color: $white;
}
@mixin h2Home { //New in new textstyles
	display: block;
	color: $white;
}
@mixin h2 {
	color: inherit;
}
@mixin h2Blue { //Removed in new textstyles
  color: $nhs_blue;
}
@mixin h3 {
	color: inherit;
}
@mixin h4 {
	display: block;
	color: inherit;
}
@mixin screen_title {
	display: block;
	color: $white;
}
@mixin h5 { //Removed in new textstyless
  color: $mid_grey;
}
@mixin account { //NEW in new textstyles
	display: block;
	color: $white;
}
@mixin h2Appointment { //NEW in new textstyles
	display: block;
	color: inherit;
}
@mixin button {
	display: block;
	color: $white;
}

@mixin webButton {
  @include button;
  @include main-container-width;
  box-sizing: border-box;
  background-color: $nhs_blue;
  border: none;
  border-radius: 0.125em;
  transition: all ease 0.5s;
  cursor: pointer;
  width: auto;
  min-width: 16.875em;
  padding: 0.625em 2em;
  display: block;
	:focus {
    outline-color: $focus_highlight;
    box-shadow: inset 0 0 0 4px $focus_highlight;
    outline-offset: -5px;
  }
}
@mixin default_label {
	display: block;
}
@mixin default_text {
	display: block;
	color: $black;
}
@mixin default_text_web {
  display: block;
  color: $black;
}
@mixin default_text_white {
	display: block;
	color: $white;
}
@mixin small_label {
	display: block;
}
@mixin small_text {
	display: block;
	color: $black;
}
@mixin message {
	display: block;
	color: $black;
}

@mixin menu { //NEW in new textstyles
	display: block;
	color: inherit;
}
@mixin menu_active { //NEW in new textstyles
	display: block;
	color: $nhs_blue;
}

@mixin text-area {
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 5px;
  padding: 16px;
  border: 1px #979797 solid;
  outline: none;
  transition: all ease 0.5s;
  display: block;
  color: $dark_grey;
}

@mixin panelHeader {
  display: block;
  color: $dark_grey;
}

@mixin panel {
  display: table;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	background-color: $white;
	-webkit-box-shadow: 0.063em 0.063em 0.125em 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0.063em 0.063em 0.125em 0 rgba(0,0,0,0.2);
	box-shadow: 0.063em 0.063em 0.125em 0 rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}

@mixin float-buttons {
	position: fixed;
	bottom: 4.250em;
	left: 0;
	right: 0;
	background-color: $white;
	box-sizing: border-box;
	padding: 1em;
	border-top: 0.063em $background solid;
	border-bottom: 0.063em $background solid;
	height: 5em;
	transform: translateZ(1em);
	z-index: 5;
	box-shadow: 0em -0.100em 0.200em rgba(0, 0, 0, .1);
}
