@import './fonts';
@import './colours';
@import './desktopcomponentsizes';

.web-page-title {
  padding-top: 1em;
  text-align: left;
  color: $black;
}

.web-desktop {
  @include main-container-width;
  padding: 0 1em;
  background-color: #f0f4f5;
  margin: 0 auto;

  h2 {
    @include default_label;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}

.app-container-desktop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  width: auto;

  min-height: 100vh;
}

.header-container-desktop, .footer-container-desktop {
  order: 0;
  flex: 0 0 auto;
  align-self: stretch;
}

.main-container-desktop {
  order: 0;
  flex: 1 0 auto;
  align-self: stretch;
}
