<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Model Help</title>
</head>
<body>
<h1 class="display-4">Help Page for @Model</h1>
</body>
</html>