<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeUrl</key>
	<string>https://www.develop.bitraft.io/</string>
	<key>Nhs111Url</key>
	<string>http://111-int2.staging.111.service.nhs.uk/</string>
	<key>OrganDonationUrl</key>
	<string>https://www.organdonation.nhs.uk/</string>
	<key>MoreUrlPath</key>
	<string>/more</string>
	<key>AppointmentsUrlPath</key>
	<string>/appointments</string>
	<key>PrescriptionsUrlPath</key>
	<string>/prescriptions</string>
	<key>TitleNHS111</key>
	<string>111 Online</string>
	<key>TitleOrganDonation</key>
	<string>Organ donation register</string>
	<key>NhsOnlineRequiredQueryString</key>
	<string>?source=mobile</string>
	<key>ResponseWaitingTime</key>
	<integer>10</integer>
	<key>ErrorMessageGeneric</key>
	<string>Service unavailable</string>
	<key>ErrorMessageOrganDonation</key>
	<string>Organ donation unavailable</string>
	<key>ErrorMessageNhs111</key>
	<string>NHS 111 unavailable</string>
</dict>
</plist>
