<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeUrl</key>
	<string>https://www.develop.bitraft.io/</string>
	<key>Nhs111Url</key>
	<string>http://111-int2.staging.111.service.nhs.uk/</string>
	<key>OrganDonationUrl</key>
	<string>https://www.organdonation.nhs.uk/</string>
	<key>NhsOnlineRequiredQueryString</key>
	<string>?source=mobile</string>
	<key>MoreUrlPath</key>
	<string>/more</string>
	<key>ResponseWaitingTime</key>
	<integer>10</integer>
</dict>
</plist>
