{
  "presets": [
    "node8",
    "es2015",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 version",
            "ie >= 11"
          ],
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    ["transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
